.accountPage .title {
  margin-bottom: 24px; }

.accountPageSidebar {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000; }
  @media (max-width: 1199px) {
    .accountPageSidebar .heading {
      font-size: 18px;
      line-height: 24px; } }
  @media (max-width: 768px) {
    .accountPageSidebar .heading {
      font-size: 24px;
      line-height: 32px; } }
  .accountPageSidebar .close_category_catalog {
    display: none; }
    @media (max-width: 992px) {
      .accountPageSidebar .close_category_catalog {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
  .accountPageSidebar__head {
    padding-bottom: 16px;
    border-bottom: 1px solid #D6D6D6; }
    .accountPageSidebar__head li:not(:last-child) {
      margin-bottom: 8px; }
    .accountPageSidebar__head li a {
      color: #000; }
  .accountPageSidebar__id {
    color: #7E7E7E; }
  .accountPageSidebar__nav {
    padding: 16px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .accountPageSidebar__link {
    display: inline-block;
    border-bottom: 1px dashed rgba(0, 0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    @media (max-width: 1199px) {
      .accountPageSidebar__link {
        font-size: 14px;
        line-height: 20px; } }
    .accountPageSidebar__link:not(:last-child) {
      margin-bottom: 32px; }
      @media (max-width: 1199px) {
        .accountPageSidebar__link:not(:last-child) {
          margin-bottom: 16px; } }
    .accountPageSidebar__link:hover {
      border-color: #FA4616; }
    .accountPageSidebar__link a {
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .accountPageSidebar__link a:hover {
        text-decoration: none;
        color: #FA4616;
        font-weight: 700; }
    .accountPageSidebar__link--active {
      border-color: #FA4616; }
      .accountPageSidebar__link--active a {
        color: #FA4616;
        font-weight: 700; }
        .accountPageSidebar__link--active a:hover {
          text-decoration: none; }

.accountPageUser__header {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.accountPageUser__change {
  position: relative;
  margin-left: 35px;
  font-size: 12px;
  font-weight: 600; }
  .accountPageUser__change::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -19px;
    margin-top: -7px; }

.accountPageUser__navOpener {
  width: auto;
  padding: 8px 10px;
  margin-bottom: 26px; }

.accountPageUserContacts {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 24px; }
  @media (max-width: 768px) {
    .accountPageUserContacts {
      margin: 0 -4% 16px -4%;
      padding: 16px 4%;
      border-radius: 0; } }
  .accountPageUserContacts__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (max-width: 768px) {
      .accountPageUserContacts__content {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .accountPageUserContacts__self {
    width: 35%;
    margin-right: 32px; }
    @media (max-width: 1199px) {
      .accountPageUserContacts__self {
        width: 48%; } }
    @media (max-width: 768px) {
      .accountPageUserContacts__self {
        width: 100%;
        margin: 0 0 16px 0; } }
  .accountPageUserContacts__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .accountPageUserContacts__row:not(:last-child) {
      margin-bottom: 16px; }
  .accountPageUserContacts__key {
    width: 49%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #949494; }
  .accountPageUserContacts__value {
    width: 49%;
    text-align: left;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
    @media (max-width: 500px) {
      .accountPageUserContacts__value {
        white-space: normal; } }
  .accountPageUserContacts__organization {
    width: 45%; }
    @media (max-width: 1199px) {
      .accountPageUserContacts__organization {
        width: 48%; } }
    @media (max-width: 768px) {
      .accountPageUserContacts__organization {
        width: 100%; } }

.accountPageUserAddress {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 24px; }
  @media (max-width: 768px) {
    .accountPageUserAddress {
      margin: 0 -4%;
      padding: 16px 4%;
      border-radius: 0; } }
  .accountPageUserAddress__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 1199px) {
      .accountPageUserAddress__list {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .accountPageUserAddress__checked {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .accountPageUserAddress__checked::before {
      content: attr(data-checked);
      display: block;
      padding-left: 32px;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #949494; }
      @media (max-width: 768px) {
        .accountPageUserAddress__checked::before {
          max-height: 32px;
          overflow: hidden;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis;
          font-size: 12px;
          line-height: 16px; } }
  .accountPageUserAddress__item {
    width: 30%;
    position: relative;
    padding-bottom: 28px;
    margin: 0 32px 16px 0; }
    @media (max-width: 1199px) {
      .accountPageUserAddress__item {
        width: 48%;
        margin: 0 0 16px 0; } }
    @media (max-width: 500px) {
      .accountPageUserAddress__item {
        padding-bottom: 36px;
        width: 100%; } }
    .accountPageUserAddress__item input:checked + label {
      font-weight: 400; }
    .accountPageUserAddress__item input:checked ~ .accountPageUserAddress__checked::before {
      opacity: 1;
      pointer-events: auto;
      -webkit-transition-delay: .2s;
           -o-transition-delay: .2s;
              transition-delay: .2s; }
  .accountPageUserAddress__add {
    margin-top: 48px;
    max-width: 280px;
    padding: 15px 0; }
    @media (max-width: 500px) {
      .accountPageUserAddress__add {
        max-width: 100%;
        margin-top: 0; } }

.accountPageWishlist__delAll {
  letter-spacing: 0.02em;
  margin: 0 0 32px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px; }
  @media (max-width: 768px) {
    .accountPageWishlist__delAll {
      margin: 0 0 16px 16px; } }

.accountPageOrders__col {
  width: 20%;
  text-align: center; }
  @media (max-width: 768px) {
    .accountPageOrders__col {
      width: 38%;
      text-align: left; } }

.accountPageOrders__titles {
  padding: 0 24px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 768px) {
    .accountPageOrders__titles {
      display: none; } }
  .accountPageOrders__titles .accountPageOrders__col {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }

.accountPageOrders__item {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px; }
  .accountPageOrders__item:not(:last-child) {
    margin-bottom: 16px; }
  .accountPageOrders__item .accountPageOrders__col {
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
  .accountPageOrders__item .accountPageOrders__status {
    color: #fff;
    padding: 4px 12px;
    background: #D8D8D8;
    border-radius: 16px;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .accountPageOrders__item .accountPageOrders__status {
        -webkit-box-ordinal-group: 8;
        -webkit-order: 7;
            -ms-flex-order: 7;
                order: 7;
        width: auto;
        min-width: 38%;
        text-align: center; } }
    .accountPageOrders__item .accountPageOrders__status--sended {
      background: #60c36e; }
    .accountPageOrders__item .accountPageOrders__status--inWork {
      background: #fa6a44; }

.accountPageOrders__heading {
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .accountPageOrders__heading {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 16px 40px 16px 16px;
      position: relative; } }

.accountPageOrders__number {
  text-align: left; }
  @media (max-width: 768px) {
    .accountPageOrders__number {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      margin-bottom: 20px; } }

@media (max-width: 768px) {
  .accountPageOrders__date {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    margin-bottom: 20px; } }

@media (max-width: 768px) {
  .accountPageOrders div.accountPageOrders__sum {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; } }

.accountPageOrders__opener {
  position: relative;
  cursor: pointer; }
  @media (max-width: 768px) {
    .accountPageOrders__opener {
      width: 36px;
      position: absolute;
      top: 10px;
      right: 0; } }
  .accountPageOrders__opener button {
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: #000; }
    @media (max-width: 768px) {
      .accountPageOrders__opener button {
        font-size: 0;
        line-height: 0; } }
  .accountPageOrders__opener .arrow::before {
    content: '';
    top: 14px; }
  .accountPageOrders__opener .arrow::after {
    content: '';
    top: 14px; }
  .accountPageOrders__opener--open .arrow::before {
    content: '';
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg); }
  .accountPageOrders__opener--open .arrow::after {
    content: '';
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg); }

.accountPageOrders__inner {
  max-height: 0;
  overflow: hidden;
  position: relative;
  border-top: 0px solid #EDEDED;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .accountPageOrders__inner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 1;
    border-radius: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .accountPageOrders__inner--open {
    max-height: 500px;
    border-width: 1px; }
    @media (max-width: 768px) {
      .accountPageOrders__inner--open {
        max-height: 700px;
        border-width: 0; } }
    .accountPageOrders__inner--open::before {
      content: '';
      opacity: 0;
      pointer-events: none;
      -webkit-transition-delay: .4s;
           -o-transition-delay: .4s;
              transition-delay: .4s; }
  .accountPageOrders__inner--scroll {
    overflow: auto; }

.accountPageOrders__about {
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 1600px) {
    .accountPageOrders__about {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 768px) {
    .accountPageOrders__about {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 0 16px 16px 16px; } }

.accountPageOrders__part {
  max-width: 40%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }
  @media (max-width: 768px) {
    .accountPageOrders__part {
      max-width: 68%; } }
  .accountPageOrders__part:not(:last-child) {
    margin-right: 7%; }
    @media (max-width: 1600px) {
      .accountPageOrders__part:not(:last-child) {
        margin-right: 0; } }
  @media (max-width: 768px) {
    .accountPageOrders__part--main {
      width: 100%;
      margin-bottom: 8px;
      max-width: 100%; } }
  @media (max-width: 1199px) {
    .accountPageOrders__part--count {
      display: none; } }
  .accountPageOrders__part--sale {
    margin-right: 64px !important; }
    @media (max-width: 1600px) {
      .accountPageOrders__part--sale {
        margin-right: 0 !important; } }
    @media (max-width: 1199px) {
      .accountPageOrders__part--sale {
        display: none; } }
  @media (max-width: 768px) {
    .accountPageOrders__part--total {
      width: 30%;
      text-align: right; } }
  .accountPageOrders__part--total .accountPageOrders__info li {
    font-weight: 600; }
    @media (max-width: 768px) {
      .accountPageOrders__part--total .accountPageOrders__info li {
        white-space: nowrap; } }

.accountPageOrders__title {
  color: #949494;
  margin-bottom: 18px; }

.accountPageOrders__info li:not(:last-child) {
  margin-bottom: 8px; }

.accountPageOrders__count {
  display: none; }
  @media (max-width: 1199px) {
    .accountPageOrders__count {
      display: block; } }

.accountPageOrders__tools {
  padding: 24px;
  border-top: 1px solid #EDEDED;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .accountPageOrders__tools {
      padding: 0 16px 24px 16px;
      border-top: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .accountPageOrders__tools .cartContentTotal__rowTitle {
    margin-right: 34px; }
    @media (max-width: 1199px) {
      .accountPageOrders__tools .cartContentTotal__rowTitle {
        margin-right: 16px; } }
  @media (max-width: 768px) {
    .accountPageOrders__tools .cartContentTotal__row--total .cartContentTotal__rowValue {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px; } }
  .accountPageOrders__tools .cartContentTotal__row--sale {
    display: none; }
    @media (max-width: 1199px) {
      .accountPageOrders__tools .cartContentTotal__row--sale {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 16px; } }
    @media (max-width: 768px) {
      .accountPageOrders__tools .cartContentTotal__row--sale {
        margin-right: 0; } }
    .accountPageOrders__tools .cartContentTotal__row--sale .cartContentTotal__rowTitle {
      max-width: 100%; }
    .accountPageOrders__tools .cartContentTotal__row--sale .cartContentTotal__rowValue {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px; }

.accountPageOrders__total {
  margin: 0; }
  @media (max-width: 768px) {
    .accountPageOrders__total {
      width: 100%;
      margin-bottom: 6px; } }

.accountPageOrders__download {
  margin-right: auto;
  letter-spacing: 0.02em;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #000; }
  @media (max-width: 768px) {
    .accountPageOrders__download {
      -webkit-box-ordinal-group: 8;
      -webkit-order: 7;
          -ms-flex-order: 7;
              order: 7;
      margin-bottom: 12px; } }

.accountPageOrders__repeat {
  margin-right: 56px;
  letter-spacing: 0.02em;
  border-color: #FA4616;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #FA4616; }
  @media (max-width: 1199px) {
    .accountPageOrders__repeat {
      margin-right: 16px; } }
  @media (max-width: 768px) {
    .accountPageOrders__repeat {
      -webkit-box-ordinal-group: 10;
      -webkit-order: 9;
          -ms-flex-order: 9;
              order: 9; } }

.accountPageBonus {
  min-height: 100vh; }
  @media (max-width: 768px) {
    .accountPageBonus {
      min-height: 1px; } }
  .accountPageBonus__content p {
    margin-bottom: 16px; }
    .accountPageBonus__content p a {
      font-weight: 600;
      color: #FA4616; }
  .accountPageBonus__bonus {
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 32px 24px;
    width: auto;
    margin-bottom: 16px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .accountPageBonus__title {
    margin-right: 16px; }
  .accountPageBonus__value {
    color: #52B44E; }
