.blogPage .title {
  margin-bottom: 36px; }

@media (max-width: 992px) {
  .blogPage .accountPageSidebar__head {
    display: none; } }

.blogPage .accountPageSidebar__link:not(:last-child) {
  margin-bottom: 16px; }

.blogPageArticles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px; }
  @media (max-width: 768px) {
    .blogPageArticles {
      grid-template-columns: repeat(1, 1fr); } }
  .blogPageArticles__article {
    max-width: 592px; }
    @media (max-width: 768px) {
      .blogPageArticles__article {
        max-width: 100%; } }
    @media (max-width: 768px) {
      .blogPageArticles__article:nth-child(1n + 2) {
        display: block; } }
    .blogPageArticles__article:not(:last-child) {
      margin-bottom: 0; }
    .blogPageArticles__article .recipes__thumb {
      height: 292px; }
      @media (max-width: 768px) {
        .blogPageArticles__article .recipes__thumb {
          height: 190px; } }
    .blogPageArticles__article .recipes__caption {
      padding: 24px; }
      @media (max-width: 768px) {
        .blogPageArticles__article .recipes__caption {
          padding: 16px; } }
    .blogPageArticles__article .recipes__date {
      margin-bottom: 4px; }
      @media (max-width: 768px) {
        .blogPageArticles__article .recipes__date {
          margin-top: 0; } }
    .blogPageArticles__article .recipes__title {
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px; }
      @media (max-width: 1199px) {
        .blogPageArticles__article .recipes__title {
          max-height: 64px; } }
      @media (max-width: 768px) {
        .blogPageArticles__article .recipes__title {
          max-height: 48px;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px; } }

.articlePage {
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .articlePage {
      padding-bottom: 40px; } }
  .articlePage__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .articlePage__heading h1 {
      margin-right: 20px; }
      @media (max-width: 1199px) {
        .articlePage__heading h1 {
          width: 100%;
          margin: 0 0 8px 0; } }
    .articlePage__heading .recipes__categories, .articlePage__heading .recipes__rate {
      position: static; }
    .articlePage__heading .recipes__categories a {
      background: #f1f1f1;
      margin: 4px 8px 4px 0; }
      @media (max-width: 1199px) {
        .articlePage__heading .recipes__categories a {
          padding: 6px 17px; } }
    .articlePage__heading .recipes__rate {
      margin: 8px 0;
      background: #f1f1f1; }
  .articlePage__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 992px) {
      .articlePage__wrap {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .articlePage__main {
    padding-top: 37px;
    max-width: 975px; }
    @media (max-width: 1600px) {
      .articlePage__main {
        margin-right: 37px; } }
    @media (max-width: 992px) {
      .articlePage__main {
        margin-right: 0;
        padding-top: 16px; } }
  .articlePage__thumb {
    margin-bottom: 48px; }
    @media (max-width: 768px) {
      .articlePage__thumb {
        margin-bottom: 16px; } }
  .articlePage__content {
    letter-spacing: 0.01em;
    padding-bottom: 16px;
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
    .articlePage__content p {
      margin-bottom: 16px; }
  .articlePage__title {
    margin: 32px 0 16px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; }
  .articlePage__tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .articlePage__tags .recipes__categories {
      position: static; }
      .articlePage__tags .recipes__categories a {
        background: #f1f1f1; }
  .articlePage__label {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #000; }
  .articlePage__stars {
    margin: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .articlePage__stars {
        margin: 24px 0; } }
    .articlePage__stars .articlePage__label {
      min-width: 140px; }
    .articlePage__stars--rated .articlePage__starsWrap {
      pointer-events: none; }
    .articlePage__stars--rated .articlePage__label {
      color: #52B44E; }
  .articlePage__star {
    position: relative; }
    .articlePage__star::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 17px;
      height: 16px;
      background: url("../img/icons.svg") -414px -5px no-repeat;
      opacity: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
  .articlePage__share {
    max-width: 280px;
    padding: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 500px) {
      .articlePage__share {
        max-width: 100%; } }
    .articlePage__share::before {
      content: '';
      margin-right: 16px; }
  .articlePage__starsWrap {
    cursor: pointer; }
  .articlePage__starsWrap[data-value='5'] .articlePage__star::after {
    content: '';
    opacity: 1; }
  .articlePage__starsWrap[data-value='4'] .articlePage__star::after {
    content: '';
    opacity: 1; }
  .articlePage__starsWrap[data-value='4'] .articlePage__star:nth-child(1n + 5)::after {
    content: '';
    opacity: 0; }
  .articlePage__starsWrap[data-value='3'] .articlePage__star::after {
    content: '';
    opacity: 1; }
  .articlePage__starsWrap[data-value='3'] .articlePage__star:nth-child(1n + 4)::after {
    content: '';
    opacity: 0; }
  .articlePage__starsWrap[data-value='2'] .articlePage__star::after {
    content: '';
    opacity: 1; }
  .articlePage__starsWrap[data-value='2'] .articlePage__star:nth-child(1n + 3)::after {
    content: '';
    opacity: 0; }
  .articlePage__starsWrap[data-value='1'] .articlePage__star::after {
    content: '';
    opacity: 1; }
  .articlePage__starsWrap[data-value='1'] .articlePage__star:nth-child(1n + 2)::after {
    content: '';
    opacity: 0; }
  .articlePageSidebar {
    width: 416px; }
    @media (max-width: 1600px) {
      .articlePageSidebar {
        padding-top: 37px; } }
    @media (max-width: 1199px) {
      .articlePageSidebar {
        width: 330px; } }
    @media (max-width: 992px) {
      .articlePageSidebar {
        width: 100%; } }
    @media (max-width: 768px) {
      .articlePageSidebar {
        padding-top: 24px; } }
    .articlePageSidebar__title {
      text-transform: uppercase;
      margin-bottom: 17px;
      white-space: nowrap;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px; }
      .articlePageSidebar__title::after {
        content: '';
        width: 100%;
        height: 1px;
        background: #B4B4B4;
        display: block;
        margin-left: 20px; }
    .articlePageSidebar__imgWrap {
      width: 100%;
      height: 398px;
      position: relative;
      margin: 45px 0 10px 0;
      overflow: hidden; }
      @media (max-width: 1199px) {
        .articlePageSidebar__imgWrap {
          margin: 10px 0; } }
      @media (max-width: 768px) {
        .articlePageSidebar__imgWrap {
          height: 222px; } }
    .articlePageSidebar__thumb {
      width: 100%;
      padding: 24px 0; }
      @media (max-width: 768px) {
        .articlePageSidebar__thumb {
          padding: 0;
          min-height: 1px; } }
      @media (max-width: 992px) {
        .articlePageSidebar__thumb .offer__info {
          width: 100%; } }
      @media (max-width: 768px) {
        .articlePageSidebar__thumb .offer__info {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .articlePageSidebar__thumb .offer__thumb {
        position: absolute;
        top: 0;
        left: 57px;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 0;
        -o-object-fit: contain;
           object-fit: contain; }
        @media (max-width: 992px) {
          .articlePageSidebar__thumb .offer__thumb {
            position: static; } }
      .articlePageSidebar__thumb .preview__sticker {
        margin-left: 24px;
        margin-right: 24px; }
        @media (max-width: 768px) {
          .articlePageSidebar__thumb .preview__sticker {
            width: auto;
            margin-left: 16px;
            margin-right: 16px; } }
      .articlePageSidebar__thumb .offer__title {
        padding: 0 24px; }
        @media (max-width: 500px) {
          .articlePageSidebar__thumb .offer__title {
            padding: 0 16px; } }
      .articlePageSidebar__thumb .offer__link {
        margin: 0 24px; }
        @media (max-width: 768px) {
          .articlePageSidebar__thumb .offer__link {
            position: static;
            margin: 0 16px; } }
    .articlePageSidebar__posts {
      margin-top: 40px; }
    .articlePageSidebar__slider {
      position: relative; }
      .articlePageSidebar__slider .sliderArrows__arrow {
        display: none; }
        @media (max-width: 768px) {
          .articlePageSidebar__slider .sliderArrows__arrow {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; } }
      .articlePageSidebar__slider .swiper-container {
        overflow: visible; }
        @media (max-width: 768px) {
          .articlePageSidebar__slider .swiper-container {
            overflow: hidden;
            padding: 15px 30px; } }
        .articlePageSidebar__slider .swiper-container.swiper-container-initialized .articlePageSidebar__sliderWrap {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          grid-gap: 0; }
        .articlePageSidebar__slider .swiper-container.swiper-container-initialized .swiper-slide {
          opacity: 0;
          -webkit-transition: opacity .2s;
          -o-transition: opacity .2s;
          transition: opacity .2s; }
          .articlePageSidebar__slider .swiper-container.swiper-container-initialized .swiper-slide.swiper-slide-visible {
            opacity: 1; }
    .articlePageSidebar__sliderWrap {
      display: block; }
      @media (max-width: 992px) {
        .articlePageSidebar__sliderWrap {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 16px; } }
      .articlePageSidebar__sliderWrap .recipes__item {
        margin-bottom: 24px; }
        .articlePageSidebar__sliderWrap .recipes__item .recipes__thumb {
          height: 198px; }
    .articlePageSidebar__latest {
      margin-top: 40px; }
      @media (max-width: 768px) {
        .articlePageSidebar__latest {
          margin-top: 0; } }
      .articlePageSidebar__latestSlider {
        position: relative; }
        .articlePageSidebar__latestSlider .sliderArrows__arrow {
          display: none; }
          @media (max-width: 768px) {
            .articlePageSidebar__latestSlider .sliderArrows__arrow {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex; } }
        .articlePageSidebar__latestSlider .swiper-container {
          overflow: visible; }
          @media (max-width: 768px) {
            .articlePageSidebar__latestSlider .swiper-container {
              overflow: hidden;
              padding: 15px 30px; } }
          .articlePageSidebar__latestSlider .swiper-container.swiper-container-initialized .articlePageSidebar__latestWrap {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            grid-gap: 0; }
          .articlePageSidebar__latestSlider .swiper-container.swiper-container-initialized .swiper-slide {
            opacity: 0;
            -webkit-transition: opacity .2s;
            -o-transition: opacity .2s;
            transition: opacity .2s; }
            .articlePageSidebar__latestSlider .swiper-container.swiper-container-initialized .swiper-slide.swiper-slide-visible {
              opacity: 1; }
      .articlePageSidebar__latest .articlePageSidebar__latestWrap {
        display: block; }
        @media (max-width: 992px) {
          .articlePageSidebar__latest .articlePageSidebar__latestWrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px; } }
      .articlePageSidebar__latest .recipes__item {
        margin-bottom: 24px; }
      .articlePageSidebar__latest .recipes__thumb {
        height: 198px; }
