.category .categories {
  position: relative;
  padding: 303px 0 77px 0;
  margin-top: -200px; }
  @media (max-width: 768px) {
    .category .categories {
      padding: 39px 0 80px 0;
      margin-top: 0; } }
  .category .categories::after {
    content: '';
    display: none; }
    @media (max-width: 768px) {
      .category .categories::after {
        display: block; } }

.offers__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px; }
  @media (max-width: 1600px) {
    .offers__items {
      grid-template-columns: repeat(3, 31%);
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 1199px) {
    .offers__items {
      grid-template-columns: repeat(2, 48%); } }

.offers__slider {
  margin: -15px;
  padding: 15px; }
  @media (max-width: 768px) {
    .offers__slider {
      padding: 15px 60px; } }
  .offers__slider.swiper-container-initialized .offers__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0;
    grid-template-columns: none; }
  .offers__slider.swiper-container-initialized .offer {
    opacity: 0; }
    .offers__slider.swiper-container-initialized .offer.swiper-slide-visible {
      opacity: 1; }

.offer {
  width: 501px;
  padding: 24px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background: #fff;
  min-height: 280px;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1600px) {
    .offer {
      width: auto;
      min-height: 200px;
      padding: 10px; } }
  @media (max-width: 768px) {
    .offer {
      padding-bottom: 48px;
      min-height: 383px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .offer__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 768px) {
      .offer__info {
        width: 100%;
        margin-bottom: 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; } }
  .offer__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; }
    @media (max-width: 768px) {
      .offer__title {
        max-width: 55%;
        max-height: 104px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; } }
    .offer__title span {
      display: block;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px; }
  .offer__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; }
    @media (max-width: 768px) {
      .offer__link {
        position: absolute;
        bottom: 24px;
        left: 20px; } }
    .offer__link i {
      width: 22px;
      height: 22px;
      background: #FA4616;
      border-radius: 50%;
      margin-left: 6px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .offer__link:hover i {
      background: #E44318; }
  .offer__thumb {
    display: block;
    width: 240px;
    height: 240px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    @media (max-width: 1600px) {
      .offer__thumb {
        width: 130px;
        height: 130px; } }
    @media (max-width: 768px) {
      .offer__thumb {
        margin-bottom: 14px;
        width: 100%;
        height: 191px;
        border-radius: 16px; } }
  .offer .preview__sticker {
    display: inline-block;
    width: auto; }
    @media (max-width: 1600px) {
      .offer .preview__sticker {
        font-size: 12px; } }
    @media (max-width: 768px) {
      .offer .preview__sticker {
        margin-top: 10px;
        width: 100%;
        max-width: 50%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; } }

.categoryChild__sort {
  padding: 40px 0 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .categoryChild__sort {
      padding-bottom: 54px; } }
  .categoryChild__sort .dropdown:not(:last-child) {
    margin-right: 24px; }
    @media (max-width: 768px) {
      .categoryChild__sort .dropdown:not(:last-child) {
        margin-right: 0; } }

.categoryChild__catalog {
  width: 109px;
  padding: 8px 0;
  border-radius: 8px;
  margin-right: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #fff; }
  @media (max-width: 992px) {
    .categoryChild__catalog {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  .categoryChild__catalog::before {
    content: '';
    margin-right: 7px; }

@media (max-width: 768px) {
  .sort {
    margin-left: auto; } }

.view {
  width: 75px; }
  @media (max-width: 992px) {
    .view {
      display: none; } }

.navigation__child {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .navigation__child li {
    padding-left: 24px; }
    .navigation__child li:not(:last-child) {
      margin-bottom: 16px; }
  .navigation__child a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }

.navigation__childOpener {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 24px;
  display: none; }
  .navigation__childOpener::before {
    content: '';
    top: 50%; }
  .navigation__childOpener::after {
    content: '';
    top: 50%; }

.navigation__item {
  padding-right: 56px; }
  .navigation__item--hasChild {
    position: relative; }
    .navigation__item--hasChild .navigation__childOpener {
      display: block; }
  .navigation__item--open > a {
    font-weight: 600 !important;
    text-decoration: none;
    color: #FA4616; }
  .navigation__item--open .navigation__child {
    margin-top: 16px;
    opacity: 1;
    max-height: 500px; }
  .navigation__item--open .arrow::before {
    content: '';
    right: 22px;
    -webkit-transform: rotate(-40deg) translateY(-50%);
        -ms-transform: rotate(-40deg) translateY(-50%);
            transform: rotate(-40deg) translateY(-50%); }
  .navigation__item--open .arrow::after {
    content: '';
    -webkit-transform: rotate(40deg) translateY(-50%);
        -ms-transform: rotate(40deg) translateY(-50%);
            transform: rotate(40deg) translateY(-50%); }
  .navigation__item--scroller .navigation__child {
    overflow: auto; }
  .navigation__item:not(:last-child) {
    margin-bottom: 16px; }
  .navigation__item > a {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    -webkit-transition: padding-bottom 0.4s;
    -o-transition: padding-bottom 0.4s;
    transition: padding-bottom 0.4s; }
    @media (max-width: 1199px) {
      .navigation__item > a {
        font-size: 16px; } }
    .navigation__item > a:hover {
      font-weight: 600;
      text-decoration: none;
      color: #FA4616; }

.pagination {
  padding: 16px 0 0 0; }
  @media (max-width: 768px) {
    .pagination {
      padding: 24px 0 0 0; } }
  .pagination ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .pagination ul li:not(:last-child) {
      margin-right: 10px; }
    .pagination ul li a {
      width: 37px;
      height: 37px;
      border-radius: 4px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .pagination ul li a:hover {
        background: #FA4616;
        text-decoration: none;
        color: #fff; }
    @media (max-width: 768px) {
      .pagination ul li:nth-child(1n + 5) {
        display: none; } }
  .pagination--blog {
    padding-top: 41px;
    max-width: 920px; }
    @media (max-width: 768px) {
      .pagination--blog {
        padding-bottom: 40px; } }
  .pagination--actions {
    padding: 64px 0 32px 0; }
  .pagination__delim {
    margin: 0 24px 0 8px !important; }
    @media (max-width: 768px) {
      .pagination__delim {
        display: block !important; } }
    .pagination__delim + li {
      display: block !important; }
  .pagination__current a {
    border: 2px solid #FA4616;
    background: #FA4616;
    color: #fff; }

.more {
  text-align: center;
  padding: 54px 0 0 0; }
  @media (max-width: 768px) {
    .more {
      padding: 40px 0 0 0; } }
  .more button {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #FA4616; }
    .more button:hover {
      text-decoration: underline; }

.compilations {
  padding-bottom: 77px; }
  .compilations .offer__title {
    font-size: 24px;
    line-height: 30px; }
    @media (max-width: 768px) {
      .compilations .offer__title {
        margin-top: 16px;
        max-width: 100%;
        max-height: 60px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; } }
  .compilations .offers::before {
    content: '';
    top: 210px; }
  .compilations .offers::after {
    content: '';
    display: none; }
  @media (max-width: 768px) {
    .compilations .offer .preview__sticker {
      position: static; } }
  @media (max-width: 768px) {
    .compilations .offer__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
