.home .categories {
  padding-top: 80px; }
  @media (max-width: 768px) {
    .home .categories {
      padding-top: 40px; } }

.categories .container {
  position: relative; }

.categories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  width: 100%; }

.categories__slider {
  margin: -15px;
  padding: 15px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }
  @media (max-width: 768px) {
    .categories__slider {
      padding: 15px 60px; } }
  .categories__slider.swiper-container-initialized .categories__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0; }
  .categories__slider.swiper-container-initialized .categories__item {
    opacity: 0;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s; }
    .categories__slider.swiper-container-initialized .categories__item.swiper-slide-visible {
      opacity: 1; }

.categories__thumb {
  position: relative; }
  .categories__thumb::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 80px;
    height: 68px;
    background: url("/img/layout/green.svg");
    -webkit-transform: rotate(27deg);
        -ms-transform: rotate(27deg);
            transform: rotate(27deg); }
  .categories__thumb img {
    position: relative;
    z-index: 1;
    width: 141px;
    height: 94px;
    -o-object-fit: contain;
       object-fit: contain; }
    @media (max-width: 768px) {
      .categories__thumb img {
        max-width: 105px; } }

.categories__item {
  width: 100%;
  border-radius: 16px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 13px 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .categories__item span {
    display: inline-block;
    margin-left: 58px;
    letter-spacing: 0.01em;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; }
    @media (max-width: 1600px) {
      .categories__item span {
        margin-left: 10px; } }
    @media (max-width: 768px) {
      .categories__item span {
        margin: 0 auto; } }
  .categories__item:hover {
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 10px rgba(250, 70, 22, 0.32);
            box-shadow: 0px 2px 10px rgba(250, 70, 22, 0.32); }

.categories .sectionHeading {
  margin-bottom: 15px; }

.categories.slider-disabled .sliderArrows {
  display: none !important; }

.section {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }
  .section--hide {
    opacity: 0;
    -webkit-transform: translateY(70px);
        -ms-transform: translateY(70px);
            transform: translateY(70px); }
    @media (max-width: 768px) {
      .section--hide {
        opacity: 1;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; } }
  @media (max-width: 768px) {
    .section__sliderWrap {
      position: relative; } }
  .section__heading {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .section__heading {
        margin-bottom: 19px; } }
  .section__titles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .section__subtitle {
    width: 100%;
    margin-top: 24px; }
    @media (max-width: 768px) {
      .section__subtitle {
        font-size: 16px;
        color: #FA4616; } }
    .section__subtitle a {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #FA4616; }
      @media (max-width: 768px) {
        .section__subtitle a {
          font-size: 16px; } }
  .section__link {
    margin-left: 16px;
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: #FA4616; }

.sliderArrows {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .sliderArrows__prev {
    position: absolute;
    top: 4px;
    right: 30px; }
    @media (max-width: 768px) {
      .sliderArrows__prev {
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); } }
  .sliderArrows__next {
    position: absolute;
    top: 4px;
    right: 0; }
    @media (max-width: 768px) {
      .sliderArrows__next {
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); } }
    .sliderArrows__next::before {
      content: '';
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .sliderArrows__arrow {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    z-index: 10;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .sliderArrows__arrow--active {
      background: #FA4616; }
      .sliderArrows__arrow--active::before {
        content: '';
        width: 7px;
        height: 14px;
        background: url(../img/icons.svg) -21px -5px no-repeat; }
      .sliderArrows__arrow--active:hover {
        background: #E44318; }
      .sliderArrows__arrow--active.sliderArrows__prev::before {
        content: '';
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
      .sliderArrows__arrow--active.sliderArrows__next::before {
        content: '';
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
    .sliderArrows__arrow.swiper-button-lock {
      display: none; }
  .sliderArrows--static .sliderArrows__arrow {
    position: static; }
  .sliderArrows--static .sliderArrows__prev {
    margin-right: 5px; }

.productsSlider {
  padding: 104px 0; }
  @media (max-width: 768px) {
    .productsSlider {
      padding: 55px 0 40px 0; } }
  .productsSlider__buttons {
    padding: 26px 0 0 0; }
  .productsSlider__btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #898989; }
    @media (max-width: 768px) {
      .productsSlider__btn {
        display: block; } }
    .productsSlider__btn:not(:last-child) {
      margin-right: 60px; }
      @media (max-width: 768px) {
        .productsSlider__btn:not(:last-child) {
          margin: 0 0 40px 0; } }
    .productsSlider__btn--active {
      font-weight: 700;
      color: #FA4616; }
  .productsSlider__tabs {
    position: relative;
    height: 510px; }
    @media (max-width: 768px) {
      .productsSlider__tabs {
        height: auto; } }
    @media (max-width: 768px) {
      .productsSlider__tabs .preview:nth-child(1n + 5) {
        display: none; } }
  .productsSlider__tabWrap {
    margin: -15px;
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    @media (max-width: 768px) {
      .productsSlider__tabWrap {
        position: static;
        display: none;
        opacity: 1;
        pointer-events: auto; } }
    .productsSlider__tabWrap--active {
      opacity: 1;
      pointer-events: auto;
      -webkit-animation: fadeIn .6s linear;
              animation: fadeIn .6s linear; }
      @media (max-width: 768px) {
        .productsSlider__tabWrap--active {
          display: block; } }
    .productsSlider__tabWrap.swiper-container-initialized .productsSlider__tab {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      grid-gap: 0; }
    .productsSlider__tabWrap.swiper-container-initialized .swiper-slide {
      opacity: 0;
      -webkit-transition: opacity .2s;
      -o-transition: opacity .2s;
      transition: opacity .2s; }
    .productsSlider__tabWrap.swiper-container-initialized .swiper-slide-visible {
      opacity: 1; }
  .productsSlider__arrows {
    display: none; }
    .productsSlider__arrows--active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 768px) {
        .productsSlider__arrows--active {
          display: none; } }
  .productsSlider .section__titles {
    width: 100%; }
  .productsSlider .section__heading {
    margin: 0 0 40px 0;
    position: relative; }
  .productsSlider .sliderArrows {
    position: absolute;
    bottom: 0;
    right: 0; }
  @media (max-width: 768px) {
    .productsSlider .section__link {
      display: block; } }

.partners .container {
  position: relative; }

.partners__slider {
  margin: -15px;
  padding: 15px; }
  @media (max-width: 768px) {
    .partners__slider {
      padding: 15px 45px; } }

.partners__item {
  height: 184px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }
  @media (max-width: 768px) {
    .partners__item {
      height: 78px; } }
  .partners__item.swiper-slide-visible {
    opacity: 1; }
  .partners__item img {
    display: block; }
    @media (max-width: 768px) {
      .partners__item img {
        height: 60px;
        -o-object-fit: contaim;
           object-fit: contaim; } }

.partners__btn {
  max-width: 320px;
  margin: 32px auto 0 auto;
  padding: 17px 0; }
  @media (max-width: 500px) {
    .partners__btn {
      max-width: 100%; } }

.partners .section__heading {
  position: relative; }

.partners .sliderArrows {
  position: absolute;
  bottom: 0;
  right: 0; }

.aboutBlock {
  position: relative; }
  .aboutBlock::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 638px;
    background-image: url("../img/layout/background-primary-top.svg");
    background-repeat: no-repeat;
    background-size: 100%; }
    @media (max-width: 768px) {
      .aboutBlock::before {
        background-size: cover;
        background-image: url("../img/layout/background-primary-top-mobile.svg"); } }
  .aboutBlock::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 638px;
    background-image: url("../img/layout/background-primary-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom; }
    @media (max-width: 768px) {
      .aboutBlock::after {
        background-image: url("../img/layout/background-primary-bottom-mobile.svg");
        background-size: cover; } }
  .aboutBlock__wrap {
    position: relative;
    z-index: 10;
    padding: 75px calc((100% - 1540px) / 2) 75px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1600px) {
      .aboutBlock__wrap {
        padding: 75px 4% 75px 0; } }
    @media (max-width: 992px) {
      .aboutBlock__wrap {
        padding: 75px 4%; } }
    @media (max-width: 768px) {
      .aboutBlock__wrap {
        padding: 160px 4%; } }
  .aboutBlock__imgWrap {
    width: 100%;
    max-width: 52%;
    height: 1178px;
    overflow: visible !important;
    position: relative; }
    @media (max-width: 1400px) {
      .aboutBlock__imgWrap {
        padding-bottom: 125px; } }
    @media (max-width: 1199px) {
      .aboutBlock__imgWrap {
        height: 961px; } }
    @media (max-width: 992px) {
      .aboutBlock__imgWrap {
        display: none; } }
  .aboutBlock__img {
    background-repeat: no-repeat;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-size: contain;
    background-position: left; }
    @media (max-width: 992px) {
      .aboutBlock__img {
        display: none; } }
  .aboutBlock__content {
    max-width: 43%; }
    @media (max-width: 992px) {
      .aboutBlock__content {
        max-width: 100%; } }
  .aboutBlock__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .aboutBlock__item {
    width: 45%;
    margin-bottom: 29px; }
    @media (max-width: 768px) {
      .aboutBlock__item {
        width: 100%; } }
  .aboutBlock__itemTitle {
    position: relative;
    display: block; }
    @media (max-width: 1600px) {
      .aboutBlock__itemTitle {
        font-size: 24px;
        line-height: 32px; } }
    @media (max-width: 768px) {
      .aboutBlock__itemTitle {
        padding-left: 48px; } }
    .aboutBlock__itemTitle::before {
      content: '';
      display: none;
      position: absolute;
      top: 0;
      left: 0; }
      @media (max-width: 768px) {
        .aboutBlock__itemTitle::before {
          display: block; } }
    @media (max-width: 768px) {
      .aboutBlock__itemTitle br {
        display: none; } }
  .aboutBlock__itemText {
    display: block;
    margin-top: 16px;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #38382F; }
    @media (max-width: 768px) {
      .aboutBlock__itemText {
        margin-top: 12px; } }
  .aboutBlock__title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px; }
    @media (max-width: 1600px) {
      .aboutBlock__title {
        font-size: 30px;
        line-height: 36px; } }
    @media (max-width: 768px) {
      .aboutBlock__title {
        font-size: 24px;
        line-height: 32px; } }
  .aboutBlock__subtitle {
    margin: 32px 0 56px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #1B1B1B; }
    @media (max-width: 1600px) {
      .aboutBlock__subtitle {
        margin: 24px 0; } }
    @media (max-width: 768px) {
      .aboutBlock__subtitle {
        font-size: 16px; } }
  .aboutBlock__link {
    margin-top: 11px;
    max-width: 415px;
    padding: 17px 0; }
    @media (max-width: 550px) {
      .aboutBlock__link {
        margin-top: 3px; } }

.clients {
  padding-top: 104px; }
  @media (max-width: 768px) {
    .clients {
      padding-top: 0; } }
  .clients .container {
    position: relative; }
  .clients__slider {
    margin: -15px;
    padding: 15px; }
    @media (max-width: 768px) {
      .clients__slider {
        padding: 15px 50px; } }
  .clients .section__heading {
    position: relative; }
  .clients .sliderArrows {
    position: absolute;
    bottom: 0;
    right: 0; }

.recipes {
  margin-top: 104px; }
  @media (max-width: 768px) {
    .recipes {
      margin-top: 50px; } }
  .recipes::before {
    content: '';
    background-image: url("../img/layout/background-green-top.svg");
    background-repeat: no-repeat;
    height: 550px;
    background-size: 100%; }
    @media (max-width: 768px) {
      .recipes::before {
        background-size: cover;
        background-position: bottom; } }
  .recipes::after {
    content: '';
    background-image: url("../img/layout/background-green-bottom.svg");
    background-repeat: no-repeat;
    height: 550px;
    background-size: 100%; }
    @media (max-width: 768px) {
      .recipes::after {
        background-image: url("../img/layout/background-green-top.svg");
        -webkit-transform: rotateY(180deg) rotateX(180deg);
                transform: rotateY(180deg) rotateX(180deg);
        background-size: cover; } }
  .recipes .aboutBlock__wrap {
    padding: 200px 100px 150px calc((100% - 1540px) / 2); }
    @media (max-width: 1600px) {
      .recipes .aboutBlock__wrap {
        padding: 200px 4% 150px 4%; } }
    @media (max-width: 768px) {
      .recipes .aboutBlock__wrap {
        padding-top: 175px; } }
  @media (max-width: 550px) {
    .recipes .aboutBlock__link {
      margin-top: 32px;
      max-width: 100%; } }
  .recipes .aboutBlock__imgWrap {
    height: 958px; }
  .recipes .aboutBlock__subtitle {
    margin-bottom: 40px; }
  .recipes__content {
    max-width: 46%; }
    @media (max-width: 992px) {
      .recipes__content {
        max-width: 100%; } }
  .recipes__imgWrap {
    width: 818px;
    height: 959px;
    max-width: 52%; }
  .recipes__img {
    max-width: 818px;
    height: 959px;
    background-repeat: no-repeat;
    background-size: contain; }
  .recipes__list {
    padding-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (max-width: 550px) {
      .recipes__list {
        padding-bottom: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .recipes__left {
    width: 55%; }
    @media (max-width: 550px) {
      .recipes__left {
        width: 100%; } }
  .recipes__right {
    width: 41%;
    margin-left: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 550px) {
      .recipes__right {
        width: 100%;
        margin: 16px 0 0 0; } }
  .recipes__categories {
    position: absolute;
    top: 14px;
    left: 16px;
    z-index: 10; }
    .recipes__categories a {
      display: inline-block;
      padding: 6px 17px;
      background: rgba(255, 255, 255, 0.55);
      -webkit-backdrop-filter: blur(4px);
              backdrop-filter: blur(4px);
      border-radius: 13.5px;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: #303030;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .recipes__categories a:not(:last-child) {
        margin-right: 8px; }
        @media (max-width: 1199px) {
          .recipes__categories a:not(:last-child) {
            margin-right: 0; } }
      .recipes__categories a:hover {
        text-decoration: none;
        background: #fff; }
      @media (max-width: 1199px) {
        .recipes__categories a {
          font-size: 10px;
          padding: 3px 10px; } }
      @media (max-width: 550px) {
        .recipes__categories a {
          font-size: 12px;
          padding: 6px 17px;
          background: #fff; } }
  .recipes__rate {
    position: absolute;
    bottom: 16px;
    left: 16px;
    background: rgba(255, 255, 255, 0.55);
    width: 64px;
    height: 32px;
    border-radius: 13.5px;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .recipes__rate::before {
      content: '';
      margin-left: 4px; }
  .recipes__thumb {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 199px;
    position: relative; }
    @media (max-width: 1400px) {
      .recipes__thumb {
        height: auto; } }
    @media (max-width: 550px) {
      .recipes__thumb {
        height: 190px; } }
    .recipes__thumb img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
  .recipes__date {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #636060; }
    @media (max-width: 550px) {
      .recipes__date {
        margin-top: 16px; } }
  .recipes__title {
    display: block;
    max-height: 71px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; }
    @media (max-width: 1199px) {
      .recipes__title {
        max-height: 54px;
        font-size: 14px;
        line-height: 18px;
        color: #000; } }
    @media (max-width: 550px) {
      .recipes__title {
        max-height: 97px;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 32px; } }
  .recipes__desc {
    max-height: 47px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #000; }
  .recipes__caption {
    padding: 2px 8px 8px 8px; }
    @media (max-width: 550px) {
      .recipes__caption {
        padding: 16px; } }
  .recipes__end {
    margin-bottom: 24px; }
    @media (max-width: 550px) {
      .recipes__end {
        text-align: center;
        font-size: 16px;
        line-height: 24px; } }
  .recipes__item {
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: 302px;
    width: 100%;
    background: #fff;
    overflow: hidden;
    position: relative; }
    .recipes__item:not(:last-child) {
      margin-bottom: 16px; }
      @media (max-width: 550px) {
        .recipes__item:not(:last-child) {
          margin-bottom: 0; } }
    @media (max-width: 550px) {
      .recipes__item:nth-child(1n + 2) {
        display: none; } }
    .recipes__item:hover .recipes__thumb img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .recipes__item--big {
      width: 416px;
      width: 100%;
      height: 100%; }
      .recipes__item--big .recipes__thumb {
        width: 100%;
        height: 464px; }
        @media (max-width: 1400px) {
          .recipes__item--big .recipes__thumb {
            height: auto; } }
        @media (max-width: 550px) {
          .recipes__item--big .recipes__thumb {
            height: 190px; } }
        .recipes__item--big .recipes__thumb img {
          display: block;
          width: 100%;
          height: 100%; }
      .recipes__item--big .recipes__caption {
        padding: 10px 16px 24px 16px; }
        @media (max-width: 550px) {
          .recipes__item--big .recipes__caption {
            padding: 16px; } }
      .recipes__item--big .recipes__date {
        margin-bottom: 4px; }
      .recipes__item--big .recipes__title {
        max-height: 97px;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 32px; }
        @media (max-width: 1199px) {
          .recipes__item--big .recipes__title {
            font-size: 18px;
            line-height: 24px; } }
        @media (max-width: 550px) {
          .recipes__item--big .recipes__title {
            font-size: 24px;
            line-height: 32px; } }

@media (max-width: 992px) {
  .feedback {
    margin-top: 61px; } }

.feedback .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.feedback__title {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px; }
  @media (max-width: 1199px) {
    .feedback__title {
      font-size: 48px;
      line-height: 56px; } }
  @media (max-width: 768px) {
    .feedback__title {
      font-size: 32px;
      line-height: 38px; } }

.feedback__btn {
  margin-top: 48px;
  max-width: 446px; }
  @media (max-width: 768px) {
    .feedback__btn {
      margin-top: 40px; } }

.feedback__managers {
  min-width: 431px;
  min-height: 703px;
  position: relative; }
  @media (max-width: 992px) {
    .feedback__managers {
      display: none; } }
  .feedback__managers--load::before {
    content: '';
    width: 256px;
    height: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(../img/spin.jpg); }

.feedback__manager {
  display: none;
  position: relative; }
  .feedback__manager img {
    display: block;
    width: 431px;
    height: 703px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom;
       object-position: bottom; }
  .feedback__manager--active {
    display: block; }

.feedback__caption {
  width: 100%;
  border-radius: 30px 0 0 0;
  position: absolute;
  left: -48px;
  bottom: 82px;
  background: -o-linear-gradient(0.45deg, #39B54A 36.86%, #39B54A 50.72%, rgba(57, 181, 74, 0) 81.3%);
  background: linear-gradient(89.55deg, #39B54A 36.86%, #39B54A 50.72%, rgba(57, 181, 74, 0) 81.3%);
  padding: 11px 25px;
  color: #fff; }

.feedback__name {
  white-space: nowrap;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; }

.feedback__worker {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

.seo {
  background: #F8F7F7;
  padding: 80px 0 50px 0;
  position: relative;
  z-index: 10; }
  @media (max-width: 992px) {
    .seo {
      padding: 20px 0;
      margin-top: 80px; } }
  .seo__title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px; }
    @media (max-width: 992px) {
      .seo__title {
        font-weight: 700; } }
  .seo__text {
    letter-spacing: 0.02em;
    max-height: 136px;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px; }
    @media (max-width: 768px) {
      .seo__text {
        max-height: 148px; } }
    .seo__text p {
      margin-bottom: 30px; }
  .seo__more {
    position: relative;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #FA4616; }
    .seo__more::before {
      content: '';
      top: 50%; }
    .seo__more::after {
      content: '';
      top: 50%; }
  .seo--full .seo__text {
    max-height: 900px; }
  .seo--full .seo__more::before {
    content: '';
    -webkit-transform: rotate(-40deg) translateY(-50%);
        -ms-transform: rotate(-40deg) translateY(-50%);
            transform: rotate(-40deg) translateY(-50%); }
  .seo--full .seo__more::after {
    content: '';
    -webkit-transform: rotate(40deg) translateY(-50%);
        -ms-transform: rotate(40deg) translateY(-50%);
            transform: rotate(40deg) translateY(-50%);
    right: 17px; }
  .seo--scroll .seo__text {
    overflow-y: auto; }
