.productPageMain {
  padding-bottom: 104px;
  position: relative;
  z-index: 10; }
  @media (max-width: 768px) {
    .productPageMain {
      padding-bottom: 40px; } }
  .productPageMain .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 1199px) {
      .productPageMain .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }

.productPageImages {
  width: 100%;
  max-width: 29%;
  position: relative; }
  @media (max-width: 1199px) {
    .productPageImages {
      max-width: 50%; } }
  @media (max-width: 992px) {
    .productPageImages {
      max-width: 100%; } }
  .productPageImages__top img {
    width: 100%;
    height: 449px;
    height: auto;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }
  .productPageImages__bottom {
    padding-top: 16px; }
    .productPageImages__bottom img {
      width: 106px;
      height: 106px;
      display: block;
      -o-object-fit: contain;
         object-fit: contain;
      cursor: pointer; }

.productPageInfo {
  width: 100%;
  height: 571px;
  padding-left: 76px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (max-width: 1440px) {
    .productPageInfo {
      padding-left: 25px; } }
  @media (max-width: 1199px) {
    .productPageInfo {
      padding: 24px 0 0 0; } }
  @media (max-width: 768px) {
    .productPageInfo {
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      height: auto;
      padding-top: 16px; } }
  .productPageInfo__title {
    max-width: 48%;
    max-height: 148px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    color: #000; }
    @media (max-width: 768px) {
      .productPageInfo__title {
        max-width: 100%; } }
  .productPageInfo__info {
    padding-top: 54px;
    max-width: 48%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
    @media (max-width: 768px) {
      .productPageInfo__info {
        max-width: 100%;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3;
        padding-top: 24px; } }
  .productPageInfo__code {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #C5C5C5; }
  .productPageInfo__row {
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition: max-height .4s, margin-bottom .4s, opacity .4s .3s;
    -o-transition: max-height .4s, margin-bottom .4s, opacity .4s .3s;
    transition: max-height .4s, margin-bottom .4s, opacity .4s .3s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #000; }
    .productPageInfo__row::before {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      border-bottom: 1px dotted #D6D6D6; }
    .productPageInfo__row:not(:last-child) {
      margin-bottom: 8px; }
    .productPageInfo__row:nth-child(1n + 7) {
      max-height: 0;
      margin-bottom: 0;
      opacity: 0; }
    .productPageInfo__row span {
      background: #FDFCFC;
      position: relative; }
  .productPageInfo__rows {
    margin-top: 24px;
    padding-right: 5px;
    max-height: 375px;
    overflow: auto; }
    .productPageInfo__rows--full .productPageInfo__row:nth-child(1n + 7) {
      max-height: 30px;
      opacity: 1; }
      .productPageInfo__rows--full .productPageInfo__row:nth-child(1n + 7):not(:last-child) {
        margin-bottom: 8px; }
  .productPageInfo__more {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #FA4616;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .productPageInfo__more:hover {
      text-decoration: underline; }
    .productPageInfo__more--hide {
      opacity: 0;
      pointer-events: none;
      position: absolute; }

.productPageCheckout {
  width: 448px;
  max-width: 48%;
  margin-left: auto;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  position: relative;
  padding: 32px 24px 0 24px;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }
  @media (max-width: 992px) {
    .productPageCheckout {
      padding: 24px 12px; } }
  @media (max-width: 768px) {
    .productPageCheckout {
      max-width: 100%;
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      margin-top: 24px;
      padding: 24px 12px 0 12px; } }
  .productPageCheckout__wish {
    position: absolute;
    top: 60px;
    right: 26px; }
    @media (max-width: 500px) {
      .productPageCheckout__wish {
        top: 35px; } }
    .productPageCheckout__wish::before {
      content: '';
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .productPageCheckout__wish::after {
      content: '';
      width: 30px;
      height: 28px;
      background: url("../img/icons.svg") -715px -5px no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .productPageCheckout__wish:hover::before {
      content: '';
      opacity: 0; }
    .productPageCheckout__wish:hover::after {
      content: '';
      opacity: 1; }
    .productPageCheckout__wish--added {
      cursor: no-drop; }
      .productPageCheckout__wish--added::before {
        content: '';
        background: url(../img/icons.svg) -1344px -7px no-repeat !important;
        opacity: 1 !important;
        -webkit-transition: none !important;
        -o-transition: none !important;
        transition: none !important; }
      .productPageCheckout__wish--added::after {
        content: '';
        opacity: 0 !important; }
  .productPageCheckout__priceWrap {
    padding: 0 35px 23px 0; }
    @media (max-width: 500px) {
      .productPageCheckout__priceWrap {
        padding: 0 0 23px 0; } }
  .productPageCheckout__price {
    display: block;
    max-width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 48px;
    font-weight: 700;
    line-height: 63px;
    color: #000; }
    @media (max-width: 500px) {
      .productPageCheckout__price {
        padding-right: 50px; } }
  .productPageCheckout__min {
    display: block;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    color: #FA4616; }
    @media (max-width: 500px) {
      .productPageCheckout__min {
        margin-top: 16px; } }
  .productPageCheckout__tools {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #D6D6D6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 500px) {
      .productPageCheckout__tools {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .productPageCheckout__buy {
    max-width: 183px; }
    @media (max-width: 500px) {
      .productPageCheckout__buy {
        max-width: 100%;
        width: 100%;
        margin-top: 24px; } }
  .productPageCheckout--noCommerce {
    padding-bottom: 14px;
    min-height: 318px; }
    .productPageCheckout--noCommerce .productPageCheckout__wish {
      top: 31px; }
    .productPageCheckout--noCommerce .productPageCheckout__price {
      display: none; }
    .productPageCheckout--noCommerce .productPageCheckout__drops {
      display: none; }

.productPageTabs {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000; }
  .productPageTabs::before {
    content: '';
    top: 295px; }
    @media (max-width: 768px) {
      .productPageTabs::before {
        display: none; } }
  .productPageTabs::after {
    content: '';
    display: none; }
    @media (max-width: 768px) {
      .productPageTabs::after {
        display: block;
        z-index: -1;
        bottom: -60px; } }
  .productPageTabs .section__heading {
    margin-bottom: 24px; }
  .productPageTabs__tabs {
    height: 392px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    @media (max-width: 768px) {
      .productPageTabs__tabs {
        height: auto; } }
  .productPageTabs__tab {
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 32px 24px 24px 24px;
    margin: 0; }
    @media (max-width: 768px) {
      .productPageTabs__tab {
        padding: 24px 8px 16px 16px; } }
  @media (max-width: 768px) {
    .productPageTabs .productsSlider__btn:not(:last-child) {
      margin-bottom: 24px; } }

.productPageDescription p {
  margin-bottom: 16px; }

.productPageDescription ul:not(:last-child) {
  margin-bottom: 24px; }

.productPageDescription ul li:not(:last-child) {
  margin-bottom: 16px; }

.productPageCooking {
  min-height: 272px; }
  @media (max-width: 768px) {
    .productPageCooking {
      min-height: 1px; } }

@media (max-width: 768px) {
  .productPageRecipes {
    background: rgba(0, 0, 0, 0);
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none; } }

.productPageRecipes .sliderArrows__arrow {
  display: none; }
  @media (max-width: 768px) {
    .productPageRecipes .sliderArrows__arrow {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.productPageRecipes__title {
  margin-bottom: 24px; }
  @media (max-width: 768px) {
    .productPageRecipes__title {
      display: none; } }

.related .container {
  position: relative; }

@media (max-width: 768px) {
  .related__wrap {
    position: relative; } }

.related .section__titles {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

@media (max-width: 768px) {
  .related .section__link {
    margin: 16px 0 0 0; } }

@media (max-width: 374px) {
  .related .preview__buy {
    width: 56px;
    font-size: 0; }
    .related .preview__buy::before {
      content: '';
      margin-right: 0; } }

@media (max-width: 374px) {
  .related .preview__price {
    max-width: 65%; } }

.related__slider {
  margin: -15px;
  padding: 15px; }
  @media (max-width: 768px) {
    .related__slider {
      padding: 15px 50px; } }
  .related__slider.swiper-container-initialized .products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0; }
  .related__slider .swiper-slide {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    .related__slider .swiper-slide.swiper-slide-visible {
      opacity: 1; }
