@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans";
  overflow-x: hidden;
  background: #FDFCFC; }
  body::-webkit-scrollbar {
    width: 3px;
    background: rgba(0, 0, 0, 0); }
  body::-webkit-scrollbar-thumb {
    background: #FA4616; }
  body.column {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

button {
  font-family: "Open Sans"; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #242426; }
  a:hover {
    text-decoration: underline; }

.btn {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer; }
  .btn--primary {
    display: block;
    width: 100%;
    padding: 19px 0;
    text-align: center;
    border-radius: 32px;
    background: #FA4616;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .btn--primary:hover {
      background: #E44318;
      text-decoration: none; }
    @media (max-width: 768px) {
      .btn--primary {
        padding: 16px 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px; } }
  .btn--disabled {
    background: #D8D8D8 !important;
    cursor: no-drop; }
  .btn--dashed {
    border-bottom: 1px dashed #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .btn--dashed:hover {
      border-color: rgba(0, 0, 0, 0); }

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #242426; }

.heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #242426; }

.container {
  width: 1540px;
  margin: 0 auto; }
  @media (max-width: 1600px) {
    .container {
      width: 92%; } }

.tooltip {
  display: inline-block;
  position: relative; }
  .tooltip__wrap {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 443px;
    border-radius: 4px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #333; }
    @media (max-width: 768px) {
      .tooltip__wrap {
        font-size: 12px;
        line-height: 18px; } }
  .tooltip__content {
    background: #FFF6F3;
    padding: 24px 32px; }
  .tooltip__pick {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #DCDCDC;
    line-height: 1;
    margin-left: 5px;
    position: relative;
    font-size: 14px;
    color: #555;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .tooltip--dropBottom .tooltip__wrap {
    top: 50%;
    right: -15px;
    padding-top: 125%; }
    .tooltip--dropBottom .tooltip__wrap::before {
      content: '';
      position: absolute;
      top: 15px;
      right: 15px;
      border-right: 9px solid rgba(0, 0, 0, 0);
      border-bottom: 18px solid #FFF6F3;
      border-left: 9px solid rgba(0, 0, 0, 0); }
  .tooltip--preview {
    position: static; }
    .tooltip--preview .tooltip__wrap {
      z-index: 10;
      width: auto;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 30px; }
      .tooltip--preview .tooltip__wrap::before {
        content: '';
        position: absolute;
        top: -15px;
        right: 50%;
        border-right: 9px solid rgba(0, 0, 0, 0);
        border-bottom: 18px solid #FFF6F3;
        border-left: 9px solid rgba(0, 0, 0, 0);
        display: none; }
  .tooltip--short .tooltip__content {
    padding: 14px;
    max-height: 100px;
    overflow: auto; }
  .tooltip:hover .tooltip__pick {
    background: #E44318;
    color: #fff; }
  .tooltip:hover .tooltip__wrap {
    opacity: 1;
    pointer-events: auto; }

.no-scroll {
  overflow-y: hidden;
  padding-right: 3px;
  @-moz-document url-prefix() {}  padding-right: 16px; }
  @media (max-width: 768px) {
    .no-scroll {
      padding-right: 0; } }
  .no-scroll .header--fix {
    margin-right: 3px;
    @-moz-document url-prefix() {}    margin-right: 16px; }
    @media (max-width: 768px) {
      .no-scroll .header--fix {
        margin-right: 0; } }
  .no-scroll .header--opacity {
    margin-right: 3px;
    @-moz-document url-prefix() {}    margin-right: 16px; }
    @media (max-width: 768px) {
      .no-scroll .header--opacity {
        margin-right: 0; } }
  .no-scroll .toTop {
    opacity: 0; }

.scroll::-webkit-scrollbar {
  display: block;
  width: 2px;
  background: rgba(0, 0, 0, 0); }

.scroll::-webkit-scrollbar-thumb {
  background: #FA4616; }

.scroll--radius::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px; }

@-moz-document url-prefix() {}.scroll {
  scrollbar-color: #FA4616 rgba(0, 0, 0, 0);
  scrollbar-width: thin; }

.fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 768px) {
    .fields {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%; } }
  @media (max-width: 768px) {
    .fields:not(:last-child) {
      margin-bottom: 16px; } }
  .fields--two .field {
    width: 48%; }
    @media (max-width: 768px) {
      .fields--two .field {
        width: 100%; } }

.field {
  margin-bottom: 16px; }
  .field:last-child {
    margin-bottom: 0; }
  .field--street {
    margin: 0 16px 0 0;
    width: 223px !important; }
    @media (max-width: 768px) {
      .field--street {
        width: 100% !important;
        margin: 0 0 16px 0; } }
  .field--house {
    margin-bottom: 0;
    width: 96px !important; }
    @media (max-width: 768px) {
      .field--house {
        width: 100% !important;
        margin-bottom: 16px !important; } }
  .field--tooltip {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .field--tooltip .tooltip__wrap {
      padding-top: 50px; }
  .field__subtitle {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #949494; }

.input, .textarea {
  width: 100%;
  background: #F0F0F0;
  padding: 16px 0 16px 16px;
  border: 0;
  border-radius: 32px;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }
  @media (max-width: 768px) {
    .input, .textarea {
      padding: 10px 0 10px 16px; } }
  .input--err, .textarea--err {
    border-color: #FA4616; }
  .input--ok, .textarea--ok {
    border-color: #52B44E; }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: #949494; }
    @media (max-width: 992px) {
      .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
        font-size: 12px; } }
  .input::-moz-placeholder, .textarea::-moz-placeholder {
    color: #949494; }
    @media (max-width: 992px) {
      .input::-moz-placeholder, .textarea::-moz-placeholder {
        font-size: 12px; } }
  .input:-moz-placeholder, .textarea:-moz-placeholder {
    color: #949494; }
    @media (max-width: 992px) {
      .input:-moz-placeholder, .textarea:-moz-placeholder {
        font-size: 12px; } }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: #949494; }
    @media (max-width: 992px) {
      .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
        font-size: 12px; } }

.input--line {
  border-bottom: 1px solid #979797;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  padding-left: 9px !important; }
  .input--line.input--err {
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: #FA4616; }
  .input--line.input--ok {
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: #52B44E; }

.input--file {
  opacity: 0;
  position: absolute;
  left: 0; }

.textarea {
  resize: none;
  height: 96px;
  font-family: "Open Sans"; }

.checkbox {
  opacity: 0;
  position: absolute;
  left: 0; }
  .checkbox + label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
    .checkbox + label::before {
      content: '';
      position: absolute;
      left: 0;
      width: 21px;
      height: 21px;
      border: 1px solid #E4E4E4;
      background: #fff;
      margin-right: 16px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .checkbox + label::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 2px;
      width: 18px;
      height: 15px;
      opacity: 0;
      background: url("../img/icons.svg") -551px -5px no-repeat;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  .checkbox:checked + label::after {
    content: '';
    opacity: 1; }

.radio {
  display: none; }
  .radio + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 32px;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
    .radio + label::before {
      content: '';
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #FA4616;
      background: #fff;
      margin-right: 16px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .radio + label::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 12px;
      height: 12px;
      opacity: 0;
      background: #FA4616;
      border-radius: 50%;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  .radio:checked + label {
    font-weight: 600; }
    .radio:checked + label::after {
      content: '';
      opacity: 1; }

.placeholder::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #564040; }

.placeholder::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #564040; }

.placeholder:-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #564040; }

.placeholder:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #564040; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes header {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes header {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.arrow::before {
  content: '';
  width: 10px;
  height: 2px;
  background: #FA4616;
  position: absolute;
  top: 23px;
  right: 23px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  @media (max-width: 1199px) {
    .arrow::before {
      top: 16px; } }

.arrow::after {
  content: '';
  width: 10px;
  height: 2px;
  background: #FA4616;
  position: absolute;
  top: 23px;
  right: 16px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  @media (max-width: 1199px) {
    .arrow::after {
      top: 16px; } }

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px; }
  @media (max-width: 768px) {
    .products {
      grid-template-columns: repeat(1, 1fr); } }
  .products--category {
    grid-template-columns: repeat(3, 1fr); }
    @media (max-width: 1199px) {
      .products--category {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 768px) {
      .products--category {
        grid-template-columns: repeat(1, 1fr); } }

.preview {
  width: 100%;
  max-width: 372px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  padding: 11px 16px 24px 16px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  @media (max-width: 768px) {
    .preview {
      max-width: 100%;
      padding: 12px; } }
  .preview.swiper-slide {
    max-width: 100%; }
  .preview__stickers {
    position: absolute;
    top: 11px;
    left: 16px;
    z-index: 5; }
  .preview__sticker {
    width: 100%;
    padding: 1px 13px;
    border-radius: 8px 2px 8px 2px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #fff; }
    .preview__sticker:not(:last-child) {
      margin-bottom: 8px; }
    .preview__sticker--new {
      background: #3C64B1; }
    .preview__sticker--exc {
      background: #AE52F6; }
    .preview__sticker--spec {
      background: #E62B20; }
    .preview__sticker--green {
      background: #3AAA35; }
  .preview__wish {
    position: absolute;
    top: 20px;
    right: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    @media (max-width: 992px) {
      .preview__wish {
        right: 20px;
        opacity: 1;
        pointer-events: auto; } }
    .preview__wish::before {
      content: '';
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .preview__wish::after {
      content: '';
      width: 30px;
      height: 28px;
      background: url("../img/icons.svg") -715px -5px no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .preview__wish:hover::before {
      content: '';
      opacity: 0; }
    .preview__wish:hover::after {
      content: '';
      opacity: 1; }
    .preview__wish--added {
      cursor: no-drop; }
      .preview__wish--added::before {
        content: '';
        background: url(../img/icons.svg) -1344px -7px no-repeat !important;
        opacity: 1 !important;
        -webkit-transition: none !important;
        -o-transition: none !important;
        transition: none !important; }
      .preview__wish--added::after {
        content: '';
        opacity: 0 !important; }
  .preview__thumb {
    display: block;
    width: 204px;
    height: 228px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 29px auto 0 auto; }
  .preview__art {
    margin-top: 30px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #979797; }
  .preview__name {
    display: block;
    margin-top: 4px;
    height: 48px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px; }
  .preview__info {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px; }
    @media (max-width: 374px) {
      .preview__info {
        font-size: 14px; } }
  .preview__infoTitle {
    color: #52B44E;
    position: relative; }
  .preview__infoValue {
    color: #242426; }
  .preview__bottom {
    margin-top: 23px;
    min-height: 58px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .preview__price {
    margin-right: auto;
    max-width: 48%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #FA4616; }
    .preview__price span {
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      max-width: 100%; }
  .preview__special {
    display: inline-block;
    margin-top: 4px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #636363; }
  .preview__buy {
    width: 50%;
    max-width: 183px;
    padding: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .preview__buy {
        font-size: 14px; } }
    .preview__buy::before {
      content: '';
      margin-right: 17px; }
    .preview__buy--added {
      background: #52B44E;
      cursor: no-drop; }
      .preview__buy--added:hover {
        background: #52B44E; }
  .preview:hover {
    -webkit-box-shadow: 0px 2px 10px rgba(250, 70, 22, 0.32);
            box-shadow: 0px 2px 10px rgba(250, 70, 22, 0.32); }
    .preview:hover .preview__wish {
      right: 20px;
      opacity: 1;
      pointer-events: auto;
      -webkit-transition-delay: .3s;
           -o-transition-delay: .3s;
              transition-delay: .3s; }

.toTop {
  position: fixed;
  bottom: 25px;
  right: -55px;
  z-index: 10;
  background: #FA4616;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .toTop:hover {
    background: #E44318; }
  .toTop::before {
    content: '';
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .toTop--active {
    opacity: 1;
    pointer-events: auto;
    right: 15px; }

.breadcrumbs {
  padding: 24px 0 42px 0; }
  @media (max-width: 992px) {
    .breadcrumbs {
      padding: 40px 0 32px 0; } }
  .breadcrumbs__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .breadcrumbs__item {
    position: relative;
    padding-right: 8px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #C5C5C5; }
    .breadcrumbs__item::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 14px;
      background: #C5C5C5;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .breadcrumbs__item a {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #C5C5C5; }
    .breadcrumbs__item--start a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .breadcrumbs__item--start a::before {
        content: '';
        margin-right: 8px; }
    .breadcrumbs__item--end::before {
      content: '';
      display: none; }
  .breadcrumbs--banner {
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    z-index: 10; }
    @media (max-width: 1366px) {
      .breadcrumbs--banner {
        top: 200px; } }
    @media (max-width: 768px) {
      .breadcrumbs--banner {
        top: 68px; } }

.primary-bg {
  position: relative; }
  .primary-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 638px;
    background-image: url("../img/layout/background-primary-top.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1; }
    @media (max-width: 768px) {
      .primary-bg::before {
        background-size: cover;
        background-image: url("../img/layout/background-primary-top-mobile.svg"); } }
  .primary-bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 638px;
    background-image: url("../img/layout/background-primary-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    z-index: -1; }
    @media (max-width: 768px) {
      .primary-bg::after {
        background-image: url("../img/layout/background-primary-bottom-mobile.svg");
        background-size: cover; } }
  .primary-bg--category::before {
    content: '';
    display: none; }
    @media (max-width: 768px) {
      .primary-bg--category::before {
        display: block;
        top: 7%;
        background-position: bottom;
        z-index: -1; } }
  .primary-bg--category::after {
    content: '';
    display: none; }
    @media (max-width: 768px) {
      .primary-bg--category::after {
        display: block;
        z-index: -1;
        bottom: 7%; } }

.layout {
  width: 100%; }
  .layout--left {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .layout--left .main {
      width: calc(100% - 26%);
      padding: 0 calc((100% - 1540px) / 2) 104px 51px; }
      @media (max-width: 1600px) {
        .layout--left .main {
          width: calc(100% - 20%);
          padding: 0 4% 104px 25px; } }
      @media (max-width: 992px) {
        .layout--left .main {
          width: 100%;
          padding: 0 4% 80px 4%; } }
    .layout--left .breadcrumbs .container {
      width: 100%; }

.sidebar {
  width: 26%;
  background: #FCF2F0;
  padding-left: calc((100% - 1540px) / 2);
  padding-top: 93px; }
  @media (max-width: 1600px) {
    .sidebar {
      width: 20%;
      padding-left: 4%; } }
  @media (max-width: 992px) {
    .sidebar {
      display: none; } }
  @media (max-width: 992px) {
    .sidebar--catalog {
      display: block;
      position: fixed;
      top: 170px;
      left: -100%;
      bottom: 0;
      padding: 0;
      width: 100%;
      z-index: 20;
      padding: 40px 0 123px 16px;
      overflow: auto;
      max-height: calc(100vh - 67px);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; } }
  @media (max-width: 768px) {
    .sidebar--catalog {
      top: 67px; } }
  .sidebar--open {
    left: 0; }
  .sidebar__title {
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid #D6D6D6; }
    @media (max-width: 992px) {
      .sidebar__title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .sidebar__title::before {
      content: '';
      display: none !important; }
      @media (max-width: 992px) {
        .sidebar__title::before {
          display: block !important;
          margin-right: 20px; } }

.dropdown {
  width: 172px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }
  .dropdown::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 5px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  @media (max-width: 1400px) {
    .dropdown {
      width: 200px; } }
  .dropdown:hover {
    cursor: pointer; }
  .dropdown__title {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    border: 1px solid #C1C1C1;
    border-radius: 8px;
    padding: 7px 32px 7px 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000; }
  .dropdown__list {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #C1C1C1;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    padding: 8px 30px 8px 16px;
    background: #fff;
    -webkit-box-shadow: 0px 4px 8px #C1C1C1;
            box-shadow: 0px 4px 8px #C1C1C1;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .dropdown__list li {
      margin: 5px 0; }
  .dropdown--open {
    z-index: 10; }
    .dropdown--open::before {
      content: '';
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg); }
    .dropdown--open .dropdown__title {
      border-radius: 8px 8px 0 0; }
    .dropdown--open .dropdown__list {
      opacity: 1;
      max-height: 999px;
      pointer-events: auto; }

.accordion__title {
  cursor: pointer;
  padding-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px; }
  .accordion__title::before {
    content: '';
    top: 10px;
    right: 7px;
    background: #000; }
  .accordion__title::after {
    content: '';
    top: 10px;
    right: 0;
    background: #000; }
  .accordion__title i {
    display: inline-block;
    margin-right: 18px; }

.accordion__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;
  padding-right: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .accordion__content--scroll {
    overflow: auto; }
  .accordion__content .productPageInfo__row:nth-child(1n + 7) {
    max-height: 100px;
    opacity: 1; }
  .accordion__content .productPageInfo__row span {
    background: #fff; }
  .accordion__content .productPageInfo__row:not(:last-child) {
    margin-bottom: 16px; }
  .accordion__content .productPageInfo__row span {
    padding: 0 10px 0 0; }
    .accordion__content .productPageInfo__row span + span {
      padding: 0 0 0 10px; }

.accordion__item {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #D6D6D6; }
  .accordion__item--open .accordion__title::before {
    content: '';
    background: #FA4616;
    right: 6px;
    -webkit-transform: rotate(-40deg) translateY(-50%);
        -ms-transform: rotate(-40deg) translateY(-50%);
            transform: rotate(-40deg) translateY(-50%); }
  .accordion__item--open .accordion__title::after {
    content: '';
    background: #FA4616;
    -webkit-transform: rotate(40deg) translateY(-50%);
        -ms-transform: rotate(40deg) translateY(-50%);
            transform: rotate(40deg) translateY(-50%); }
  .accordion__item--open .accordion__content {
    max-height: 187px;
    opacity: 1;
    margin-top: 16px; }

.accordion__opener {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: grey; }

.quantly {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .quantly__inner {
    width: 93px;
    padding-right: 24px;
    position: relative; }
    @media (max-width: 768px) {
      .quantly__inner {
        width: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .quantly__label {
    display: inline-block;
    margin-right: 8px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px; }
    @media (max-width: 768px) {
      .quantly__label {
        margin-right: 18px; } }
  .quantly__input {
    width: 100%;
    padding: 15px 0;
    border-radius: 8px 0 0 8px;
    border: 1px solid #D6D6D6;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #000; }
    @media (max-width: 768px) {
      .quantly__input {
        border-radius: 8px;
        width: 46px;
        padding: 9px 0;
        margin: 0 8px; } }
  .quantly__plus {
    top: 0;
    border-radius: 0px 8px 0px 0px;
    border-bottom: 0 !important; }
    .quantly__plus::after {
      content: '';
      width: 9px;
      height: 1px;
      background: #D6D6D6;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      position: absolute; }
      @media (max-width: 500px) {
        .quantly__plus::after {
          height: 2px; } }
  .quantly__minus {
    bottom: 0;
    border-radius: 0px 0px 8px 0px; }
  .quantly__button {
    position: absolute;
    width: 24px;
    height: 29px;
    right: 0;
    border: 1px solid #D6D6D6;
    border-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .quantly__button {
        position: static;
        width: 46px;
        height: 46px;
        background: #FA4616;
        border-radius: 8px;
        border: none; } }
    .quantly__button::before {
      content: '';
      width: 9px;
      height: 1px;
      background: #D6D6D6;
      position: absolute; }
      @media (max-width: 768px) {
        .quantly__button::before {
          height: 2px; } }
    .quantly__button:hover::before {
      content: '';
      background: #000; }
    .quantly__button:hover::after {
      content: '';
      background: #000; }

.items {
  display: block; }
  .itemsSlider {
    overflow: visible; }
    @media (max-width: 768px) {
      .itemsSlider {
        overflow: hidden;
        padding: 15px 30px; } }
    .itemsSlider.swiper-container-initialized .items {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .itemsSlider.swiper-container-initialized .items__item {
        opacity: 0;
        -webkit-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s; }
        .itemsSlider.swiper-container-initialized .items__item.swiper-slide-visible {
          opacity: 1; }
  .items__item {
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    min-height: 149px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .items__item {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .items__item:not(:last-child) {
      margin-bottom: 32px; }
  .items__col {
    max-height: 149px;
    padding: 30px 0;
    overflow: auto; }
    @media (max-width: 768px) {
      .items__col {
        max-height: 1000px; } }
  .items__colFirst {
    width: 238px;
    position: relative;
    overflow: hidden;
    padding: 0; }
    @media (max-width: 768px) {
      .items__colFirst {
        width: 100%; } }
    .items__colFirst img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      @media (max-width: 768px) {
        .items__colFirst img {
          max-height: 154px; } }
    .items__colFirst .recipes__rate {
      bottom: unset;
      top: 8px;
      left: 13px; }
      @media (max-width: 768px) {
        .items__colFirst .recipes__rate {
          top: unset;
          bottom: 15px;
          left: 11px; } }
    .items__colFirst:hover img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .items__colSecond {
    width: 379px;
    padding: 0 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 768px) {
      .items__colSecond {
        width: 100%;
        padding: 8px 16px; } }
    .items__colSecond .heading {
      margin-bottom: 6px;
      margin-top: auto; }
      @media (max-width: 1199px) {
        .items__colSecond .heading {
          font-size: 18px;
          line-height: 24px; } }
      @media (max-width: 768px) {
        .items__colSecond .heading {
          margin-bottom: 0;
          font-size: 24px;
          line-height: 32px; } }
    .items__colSecond .recipes__categories {
      position: static;
      margin-bottom: auto; }
      @media (max-width: 768px) {
        .items__colSecond .recipes__categories {
          position: absolute;
          top: 16px;
          left: 11px; } }
      .items__colSecond .recipes__categories a {
        background: rgba(255, 221, 169, 0.55);
        border: 2px solid rgba(0, 0, 0, 0);
        margin-bottom: 8px; }
        @media (max-width: 768px) {
          .items__colSecond .recipes__categories a {
            background: rgba(255, 255, 255, 0.55); } }
        @media (max-width: 768px) {
          .items__colSecond .recipes__categories a:nth-child(1n + 3) {
            display: none; } }
        .items__colSecond .recipes__categories a:hover {
          border-color: rgba(255, 221, 169, 0.55); }
  .items__colThird {
    width: 600px;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    padding: 0 43px 0 31px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .items__colThird {
        border: none;
        width: 100%;
        padding: 8px 25px 8px 8px; } }
    .items__colThird p {
      margin: auto 0; }
      @media (max-width: 1199px) {
        .items__colThird p {
          font-size: 14px;
          line-height: 20px; } }
      @media (max-width: 768px) {
        .items__colThird p {
          max-height: 72px;
          overflow: hidden;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis;
          font-size: 16px;
          line-height: 24px; } }
  .items__colFourth {
    width: 246px;
    padding: 0 33px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 1199px) {
      .items__colFourth {
        padding: 0 10px; } }
    @media (max-width: 992px) {
      .items__colFourth {
        display: none; } }
  .items__btn {
    padding: 15px 0; }
    @media (max-width: 1600px) {
      .items__btn {
        font-size: 16px; } }
    @media (max-width: 1199px) {
      .items__btn {
        font-size: 12px;
        padding: 8px 0; } }
  .itemsWishlist .items__item {
    position: relative; }
    @media (max-width: 768px) {
      .itemsWishlist .items__item {
        padding: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    .itemsWishlist .items__item:not(:last-child) {
      margin-bottom: 16px; }
  .itemsWishlist__stickers {
    width: 150px; }
    @media (max-width: 1199px) {
      .itemsWishlist__stickers {
        display: none; } }
    @media (max-width: 768px) {
      .itemsWishlist__stickers {
        display: block;
        width: 100%; } }
    @media (max-width: 768px) {
      .itemsWishlist__stickers .preview__stickers {
        position: static;
        padding-right: 24px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    @media (max-width: 1600px) {
      .itemsWishlist__stickers .preview__sticker {
        font-size: 12px; } }
    @media (max-width: 768px) {
      .itemsWishlist__stickers .preview__sticker {
        width: auto;
        margin-right: 11px; } }
    .itemsWishlist__stickers .preview__sticker:nth-child(1n + 5) {
      display: none; }
    @media (max-width: 500px) {
      .itemsWishlist__stickers .preview__sticker:nth-child(1n + 3) {
        display: none; } }
  .itemsWishlist__info {
    width: 474px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1600px) {
      .itemsWishlist__info {
        width: 420px; } }
    @media (max-width: 1199px) {
      .itemsWishlist__info {
        width: 40%; } }
    @media (max-width: 768px) {
      .itemsWishlist__info {
        width: 100%;
        padding: 0;
        margin-bottom: 16px; } }
  .itemsWishlist__set {
    width: 361px;
    padding: 0 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1600px) {
      .itemsWishlist__set {
        width: 415px; } }
    @media (max-width: 1199px) {
      .itemsWishlist__set {
        width: 60%; } }
    @media (max-width: 768px) {
      .itemsWishlist__set {
        position: relative;
        padding: 90px 0 0 0;
        overflow: visible; } }
    @media (max-width: 500px) {
      .itemsWishlist__set {
        padding-top: 50px;
        width: 45%; } }
    .itemsWishlist__set .quantly {
      margin-right: 24px; }
      @media (max-width: 768px) {
        .itemsWishlist__set .quantly {
          position: absolute;
          top: 0; } }
      @media (max-width: 500px) {
        .itemsWishlist__set .quantly .quantly__button {
          width: 32px;
          height: 32px; } }
      @media (max-width: 500px) {
        .itemsWishlist__set .quantly .quantly__input {
          width: 40px;
          height: 32px; } }
    .itemsWishlist__set .preview__price {
      max-width: 100%;
      min-height: 53px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media (max-width: 768px) {
        .itemsWishlist__set .preview__price span {
          display: block; } }
  .itemsWishlist__tools {
    width: 215px;
    padding: 0 16px;
    position: relative; }
    @media (max-width: 1199px) {
      .itemsWishlist__tools {
        width: 15%; } }
    @media (max-width: 992px) {
      .itemsWishlist__tools {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 768px) {
      .itemsWishlist__tools {
        position: static;
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end;
        width: 35%;
        padding: 0; } }
    @media (max-width: 500px) {
      .itemsWishlist__tools {
        width: 54%; } }
    .itemsWishlist__tools .preview__buy {
      max-width: 100%;
      width: 100%; }
      .itemsWishlist__tools .preview__buy::before {
        content: ''; }
        @media (max-width: 1199px) {
          .itemsWishlist__tools .preview__buy::before {
            margin-right: 0; } }
        @media (max-width: 768px) {
          .itemsWishlist__tools .preview__buy::before {
            margin-right: 16px; } }
      @media (max-width: 1199px) {
        .itemsWishlist__tools .preview__buy {
          font-size: 0; } }
      @media (max-width: 768px) {
        .itemsWishlist__tools .preview__buy {
          font-size: 16px; } }
  .itemsWishlist__thumb {
    margin-right: 32px;
    width: 25%; }
    @media (max-width: 1199px) {
      .itemsWishlist__thumb {
        margin-right: 16px; } }
    @media (max-width: 768px) {
      .itemsWishlist__thumb {
        width: 25%; } }
    .itemsWishlist__thumb img {
      width: 102px;
      height: 114px;
      -o-object-fit: contain;
         object-fit: contain; }
      @media (max-width: 768px) {
        .itemsWishlist__thumb img {
          width: 134px;
          height: auto; } }
  .itemsWishlist__names {
    width: 75%; }
  .itemsWishlist__code {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #979797; }
  .itemsWishlist__name {
    display: block;
    max-height: 63px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px; }
  .itemsWishlist__del {
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 100%;
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .itemsWishlist__del {
        bottom: unset;
        top: 16px;
        left: unset;
        right: 16px;
        width: auto;
        font-size: 0; } }
    .itemsWishlist__del::before {
      content: ''; }
      @media (max-width: 768px) {
        .itemsWishlist__del::before {
          background: url("../img/icons.svg") -441px -5px no-repeat !important; } }
  .itemsWishlist--noCommerce .itemsWishlist__set {
    overflow: visible; }
    @media (max-width: 768px) {
      .itemsWishlist--noCommerce .itemsWishlist__set {
        padding: 0; } }
    @media (max-width: 768px) {
      .itemsWishlist--noCommerce .itemsWishlist__set .quantly {
        position: static; } }
  .itemsWishlist--noCommerce .cartContentProducts__priceDesc {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px; }
  @media (max-width: 768px) {
    .itemsWishlist--noCommerce .preview__infoTitle {
      display: none; } }

.list-check li {
  padding-left: 32px;
  position: relative; }
  .list-check li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 15px;
    background-image: url("../img/icons/check.svg");
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.select {
  width: auto; }
  .select .dropdown {
    width: auto; }
    .select .dropdown--open .arrow::before {
      content: '';
      -webkit-transform: rotate(-40deg);
          -ms-transform: rotate(-40deg);
              transform: rotate(-40deg); }
    .select .dropdown--open .arrow::after {
      content: '';
      -webkit-transform: rotate(40deg);
          -ms-transform: rotate(40deg);
              transform: rotate(40deg); }
    .select .dropdown--open .dropdown__list {
      top: 110% !important; }
  .select .dropdown__title {
    background: #F0F0F0;
    border: none;
    border-radius: 32px;
    padding: 10px 40px 10px 14px;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: left;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #949494; }
    .select .dropdown__title::before {
      content: ''; }
      @media (max-width: 1199px) {
        .select .dropdown__title::before {
          top: 23px; } }
    .select .dropdown__title::after {
      content: ''; }
      @media (max-width: 1199px) {
        .select .dropdown__title::after {
          top: 23px; } }
  .select .dropdown__list {
    border: none;
    padding: 0;
    top: 80%;
    max-height: 266px;
    overflow: auto; }
    .select .dropdown__list li {
      padding: 0 16px;
      margin: 0;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .select .dropdown__list li:hover {
        background: #FA4616; }
        .select .dropdown__list li:hover button {
          color: #fff; }
      .select .dropdown__list li button {
        display: block;
        text-align: left;
        padding: 10px 0;
        width: 100%;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
  .select--err .dropdown__title {
    border-color: #FA4616; }
  .select--ok .dropdown__title {
    border-color: #52B44E; }

.uploaded {
  display: block;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #909090; }

.sad_face {
  -webkit-animation: fadeIn .1s linear;
          animation: fadeIn .1s linear; }
  .sad_face::before {
    content: attr(data-deleted);
    color: #242426;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 11;
    padding-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .sad_face::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-image: url(../img/icons/sad_face.svg);
    background-color: #fff;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50% 40%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    overflow: hidden; }
    body::before {
      content: 'К сожалению сайт не может открыться в вашем браузере, так как он устарел. Пожалуйста обновите ваш браузер и попробуйте еще раз.';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      z-index: 1000;
      text-align: center;
      padding-top: 50px; } }
