@import "var.sass"

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  vertical-align: baseline
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block
ol, ul
  list-style: none
blockquote, q
  quotes: none
blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none
table
  border-collapse: collapse
  border-spacing: 0
*
  box-sizing: border-box
  &:target, &:focus, &:active
    border: none
    outline: none
body
  font-size: $fz
  font-weight: $fw
  font-family: $ff
  overflow-x: hidden
  background: $color_body
  //background: grey
  &::-webkit-scrollbar
    width: 3px
    background: $transparent
  &::-webkit-scrollbar-thumb
    background: $color-primary
  &.column
    min-height: 100vh
    +flex(column,0,0,0)
button
  font-family: $ff
img
  max-width: 100%
  height: auto
a
  text-decoration: none
  color: $color-text
  +hover
    text-decoration: underline

.btn
  border: 0
  padding: 0
  background: none
  cursor: pointer
  &--primary
    display: block
    width: 100%
    padding: 19px 0
    text-align: center
    border-radius: 32px
    background: $color-primary
    +text(18,600,26,#fff)
    +tran(all,.2s)
    +hover
      background: $color-primary-hover
      text-decoration: none
    +xs
      padding: 16px 0
      +text(16,700,24,0)
  &--dashed
    border-bottom: 1px dashed #000
    +text(14,400,24,#000)
    +tran(all,.2s)
    +hover
      border-color: $transparent

.title
  +text(32,700,40,$color_text)
.heading
  +text(24,700,32,$color_text)
.container
  width: $container
  margin: 0 auto
  +break(1600)
    width: 92%

.tooltip
  display: inline-block
  position: relative
  &__wrap
    opacity: 0
    pointer-events: none
    position: absolute
    width: 443px
    border-radius: 4px
    +tran(all,.4s)
    +text(14,400,24,#333)
  &__content
    background: $color-tooltip-content
    padding: 24px 32px
  &__pick
    width: 18px
    height: 18px
    border-radius: 50%
    background: $color-tooltip-picker
    line-height: 1
    margin-left: 5px
    position: relative
    +text(14,0,0,#555)
    +flex(0,0,center,center)
    +tran(all,.2s)
  &--dropBottom
    .tooltip__wrap
      top: 50%
      right: -15px
      padding-top: 125%
      +before
        position: absolute
        top: 15px
        right: 15px
        border-right: 9px solid $transparent
        border-bottom: 18px solid $color-tooltip-content
        border-left: 9px solid $transparent
  &--preview
    .tooltip__wrap
      top: 50%
      right: 0
      padding-top: 125%
      transform: translateX(calc(50% - 28px))
      z-index: 10
      width: 400px
      +xs
        width: 320px
      +before
        position: absolute
        top: 15px
        right: 50%
        transform: translateX(calc(50% + 19px))
        border-right: 9px solid $transparent
        border-bottom: 18px solid $color-tooltip-content
        border-left: 9px solid $transparent
  &--short
    .tooltip__content
      padding: 14px
      max-height: 100px
      overflow: auto

  +hover
    .tooltip__pick
      background: $color-primary-hover
      color: #fff
    .tooltip__wrap
      opacity: 1
      pointer-events: auto

.no-scroll
  overflow-y: hidden
  padding-right: 3px
  +xs
    padding-right: 0
  .header--fix
    margin-right: 3px
    +xs
      margin-right: 0
  .header--opacity
    margin-right: 3px
    +xs
      margin-right: 0

.scroll
  &::-webkit-scrollbar
    display: block
    width: 2px
    background: $transparent
  &::-webkit-scrollbar-thumb
    background: $color-primary
  &--radius
    &::-webkit-scrollbar-track
      margin-top: 10px
      margin-bottom: 20px

.fields
  +flex(0,0,space-between,flex-start)
  &--two
    .field
      width: 48%

.field
  margin-bottom: 16px
  +last
    margin-bottom: 0

.input, .textarea
  width: 100%
  background: $color-input
  padding: 16px 0 16px 16px
  border: 0
  border-radius: 32px
  +tran(all,.4s)
  +text(14,400,24,0)
  +xs
    padding: 10px 0 10px 16px
  &--err
    box-shadow: 0 0 3px 0px $color-input-error
  &::-webkit-input-placeholder
    color: $color-placeholder
    +sm
      font-size: 12px
  &::-moz-placeholder
    color: $color-placeholder
    +sm
      font-size: 12px
  &:-moz-placeholder
    color: $color-placeholder
    +sm
      font-size: 12px
  &:-ms-input-placeholder
    color: $color-placeholder
    +sm
      font-size: 12px

.textarea
  resize: none
  height: 96px

.checkbox
  position: relative
  label
    position: relative
    cursor: pointer
    width: 21px
    height: 21px
    display: inline-block
    +before
      display: block
      width: 21px
      height: 21px
      border: 1px solid #E4E4E4
      background: #fff
      margin-right: 16px
      box-sizing: border-box
    +after
      position: absolute
      top: 4px
      left: 2px
      width: 18px
      height: 15px
      opacity: 0
      background: url('../img/icons.svg') -551px -5px no-repeat
      +tran(all,.2s)
  input
    position: absolute
    top: 0
    left: 0
    pointer-events: none
    opacity: 0
    &:checked
      + label
        +after
          opacity: 1

.placeholder
  &::-webkit-input-placeholder
    +text(14,400,24,#564040)
  &::-moz-placeholder
    +text(14,400,24,#564040)
  &:-moz-placeholder
    +text(14,400,24,#564040)
  &:-ms-input-placeholder
    +text(14,400,24,#564040)

// @-moz-document url-prefix()
// .scroll
//   scrollbar-color: #fff rgba(0,0,0,0)
//   scrollbar-width: thin

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes header
  from
    transform: translateY(-100%)
  to
    transform: translateY(0)

.arrow
  +before
    width: 10px
    height: 2px
    background: $color-primary
    position: absolute
    top: 23px
    right: 23px
    transform: rotate(40deg)
    border-radius: 10px
    +tran(all,.2s)
    +md
      top: 16px
  +after
    width: 10px
    height: 2px
    background: $color-primary
    position: absolute
    top: 23px
    right: 16px
    transform: rotate(-40deg)
    border-radius: 10px
    +tran(all,.2s)
    +md
      top: 16px

.products
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 16px
  +xs
    grid-template-columns: repeat(1, 1fr)

.preview
  width: 100%
  max-width: 372px
  border-radius: 14px
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2)
  background: #fff
  position: relative
  padding: 11px 16px 24px 16px
  +tran(all,.4s)
  +hover
    box-shadow: 0px 2px 10px $color-preview-hover
  +xs
    max-width: 100%
    padding: 12px

  &__stickers
    position: absolute
    top: 11px
    left: 16px
  &__sticker
    width: 100%
    padding: 1px 13px
    border-radius: 8px 2px 8px 2px
    text-align: center
    white-space: nowrap
    +text(14,600,24,#fff)
    &:not(:last-child)
      margin-bottom: 8px
    &--new
      background: $color-sticker-new
    &--exc
      background: $color-sticker-exc
    &--spec
      background: $color-sticker-spec
    &--green
      background: $color-sticker-green
  &__wish
    position: absolute
    top: 20px
    right: 20px
  &__thumb
    display: block
    width: 204px
    height: 228px
    object-fit: contain
    margin: 29px auto 0 auto
  &__art
    margin-top: 30px
    +text(13,400,15,#979797)
  &__name
    display: block
    margin-top: 4px
    height: 48px
    overflow: hidden
    text-overflow: ellipsis
    +text(18,600,24,0)
  &__info
    margin-top: 14px
    +text(16,400,19,0)
  &__infoTitle
    color: $color-sup
  &__infoValue
    color: $color-text
  &__bottom
    margin-top: 23px
    min-height: 58px
    +flex(0,0,flex-end,flex-start)
  &__price
    margin-right: auto
    max-width: 43%
    overflow: hidden
    text-overflow: ellipsis
    +text(24,700,28.8,$color-primary)
    span
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      max-width: 100%
  &__special
    display: inline-block
    margin-top: 4px
    text-decoration-line: line-through
    +text(18,400,21.6,#636363)
  &__buy
    max-width: 183px
    padding: 15px 0
    +flex(0,0,center,center)
    +before
      margin-right: 17px

.toTop
  position: fixed
  bottom: 25px
  right: 15px
  z-index: 10
  background: $color-primary
  border-radius: 50%
  width: 50px
  height: 50px
  opacity: 0
  pointer-events: none
  +flex(0,0,center,center)
  +tran(all,.4s)
  +hover
    background: $color-primary-hover
  +before
    transform: rotate(-90deg)
  &--active
    opacity: 1
    pointer-events: auto



.breadcrumbs
  padding: 24px 0 42px 0
  +xs
    padding: 40px 0 32px 0
  &__list
    +flex(0,0,flex-start,center)
  &__item
    position: relative
    padding-right: 8px
    margin-right: 8px
    +text(14,400,18, #C5C5C5)
    +before
      position: absolute
      top: 50%
      right: 0
      width: 1px
      height: 14px
      background: #C5C5C5
      transform: translateY(-50%)
    a
      +text(14,400,18, #C5C5C5)
    &--start
      a
        +flex(0,0,flex-start,center)
        +before
          margin-right: 8px
    &--end
      +before
        display: none


.primary-bg
  position: relative
  +before
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 638px
    background-image: url('../img/layout/background-primary-top.svg')
    background-repeat: no-repeat
    background-size: 100%
    +xs
      background-size: cover
      background-image: url('../img/layout/background-primary-top-mobile.svg')
  +after
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 638px
    background-image: url('../img/layout/background-primary-bottom.svg')
    background-repeat: no-repeat
    background-size: 100%
    background-position: bottom
    +xs
      background-image: url('../img/layout/background-primary-bottom-mobile.svg')
      background-size: cover

