@import "../var.sass"



.blogPage
  .title
    margin-bottom: 36px
  .accountPageSidebar__head
    +sm
      display: none
  .accountPageSidebar__link
    &:not(:last-child)
      margin-bottom: 16px

  &__inner
    
  
  &Articles
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-gap: 16px
    +xs
      grid-template-columns: repeat(1,1fr)
    &__article
      max-width: 592px
      +xs
        max-width: 100%
      &:nth-child(1n + 2)
        +xs
          display: block
      &:not(:last-child)
        margin-bottom: 0
      .recipes__thumb
        height: 292px
        +xs
          height: 190px
      .recipes__caption
        padding: 24px
        +xs
          padding: 16px
      .recipes__date
        margin-bottom: 4px
        +xs
          margin-top: 0
      .recipes__title
        margin-bottom: 8px
        +text(24,700,32,0)
        +md
          max-height: 64px



.articlePage
  padding-bottom: 80px
  +xs
    padding-bottom: 40px
  &__heading
    +flex(0,0,flex-start,center)
    +md
      flex-wrap: wrap
    h1
      margin-right: 20px
      +md
        width: 100%
        margin: 0 0 8px 0
    .recipes__categories, .recipes__rate
      position: static
    .recipes__categories
      a
        background: #f1f1f1
        margin: 0 8px 8px 0
        +md
          padding: 6px 17px
    .recipes__rate
      //margin-left: 16px
      background: #f1f1f1
  &__wrap
    +flex(0,0,space-between,0)
    +sm
      flex-wrap: wrap
  &__main
    padding-top: 37px
    max-width: 975px
    +break(1600)
      margin-right: 37px
    +sm
      margin-right: 0
      padding-top: 16px
  &__thumb
    margin-bottom: 48px
    +xs
      margin-bottom: 16px
  &__content
    letter-spacing: 0.01em
    padding-bottom: 16px
    border-bottom: 1px solid #BEBEBE
    margin-bottom: 32px
    +text(16,400,24,0)
    p
      margin-bottom: 16px
  &__title
    margin: 32px 0 16px 0
    +text(24,700,32,0)
  &__tags
    +flex(0,0,flex-start,center)
    .recipes__categories
      position: static
      a
        background: #f1f1f1
  &__label
    margin-right: 10px
    +text(14,700,20,#000)
  &__stars
    margin: 40px 0
    +flex(0,0,flex-start,center)
    +xs
      margin: 24px 0
    .articlePage__label
      min-width: 140px
    &--rated
      .articlePage__starsWrap
        pointer-events: none
      .articlePage__label
        color: $color-sup
  &__star
    position: relative
    +after
      position: absolute
      top: 0
      right: 0
      width: 17px
      height: 16px
      background: url("../img/icons.svg") -414px -5px no-repeat
      opacity: 0
      +tran(all,.4s)
  &__share
    max-width: 280px
    padding: 15px 0
    +flex(0,0,center,center)
    +xxs
      max-width: 100%
    +before
      margin-right: 16px
  &__starsWrap
    cursor: pointer
  &__starsWrap[data-value='5']
    .articlePage__star
      +after
        opacity: 1
  &__starsWrap[data-value='4']
    .articlePage__star
      +after
        opacity: 1
      &:nth-child(1n + 5)
        +after
          opacity: 0
  &__starsWrap[data-value='3']
    .articlePage__star
      +after
        opacity: 1
      &:nth-child(1n + 4)
        +after
          opacity: 0
  &__starsWrap[data-value='2']
    .articlePage__star
      +after
        opacity: 1
      &:nth-child(1n + 3)
        +after
          opacity: 0
  &__starsWrap[data-value='1']
    .articlePage__star
      +after
        opacity: 1
      &:nth-child(1n + 2)
        +after
          opacity: 0
  
  &Sidebar
    width: 416px
    +break(1600)
      padding-top: 37px
    +md
      width: 330px
    +sm
      width: 100%
    +xs
      padding-top: 24px
    &__banner
      +xs
        //display: none
    &__title
      text-transform: uppercase
      margin-bottom: 17px
      white-space: nowrap
      +flex(0,0,0,center)
      +text(12,600,20,0)
      +after
        width: 100%
        height: 1px
        background: #B4B4B4
        display: block
        margin-left: 20px
    &__imgWrap
      width: 100%
      height: 398px
      position: relative
      margin: 45px 0 10px 0
      overflow: hidden
      +md
        margin: 10px 0
      +xs
        height: 222px
    &__thumb
      width: 100%
      padding: 24px 0
      +xs
        padding: 0
        min-height: 1px
      .offer__info
        +sm
          width: 100%
        +xs
          flex-direction: column
      .offer__thumb
        position: absolute
        top: 0
        left: 57px
        width: 100%
        height: 100%
        display: block
        border-radius: 0
        object-fit: contain
        +sm
          position: static
      .preview__sticker
        margin-left: 24px
        margin-right: 24px
        +xs
          width: auto
          margin-left: 16px
          margin-right: 16px
      .offer__title
        padding: 0 24px
        +xxs
          padding: 0 16px
      .offer__link
        margin: 0 24px
        +xs
          position: static
          margin: 0 16px

    &__posts
      margin-top: 40px
    &__slider
      position: relative
      .sliderArrows__arrow
        display: none
        +xs
          display: flex
      .swiper-container
        overflow: visible
        +xs
          overflow: hidden
          padding: 15px 30px
        &.swiper-container-initialized
          .articlePageSidebar__sliderWrap
            display: flex
            grid-gap: 0
          .swiper-slide
            opacity: 0
            transition: opacity .2s
            &.swiper-slide-visible
              opacity: 1
    &__sliderWrap
      display: block
      +sm
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 16px
      .recipes__item
        margin-bottom: 24px
        .recipes__thumb
          height: 198px
        

    &__latest
      margin-top: 40px
      +xs
        margin-top: 0
      &Slider
        position: relative
        .sliderArrows__arrow
          display: none
          +xs
            display: flex
        .swiper-container
          overflow: visible
          +xs
            overflow: hidden
            padding: 15px 30px
          &.swiper-container-initialized
            .articlePageSidebar__latestWrap
              display: flex
              grid-gap: 0
            .swiper-slide
              opacity: 0
              transition: opacity .2s
              &.swiper-slide-visible
                opacity: 1
      .articlePageSidebar__latestWrap
        display: block
        +sm
          display: grid
          grid-template-columns: repeat(2, 1fr)
          grid-gap: 16px
      .recipes__item
        margin-bottom: 24px
      .recipes__thumb
        height: 198px
      