@import "../var.sass"

.category
  .categories
    position: relative
    padding: 303px 0 77px 0
    margin-top: -200px
    +xs
      padding: 39px 0 80px 0
      margin-top: 0
    +after
      display: none
      +xs
        display: block







  
.offers
  &__items
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 16px
    +break(1600)
      grid-template-columns: repeat(3, 31%)
      justify-content: space-between
    +md
      grid-template-columns: repeat(2, 48%)
  &__slider
    margin: -15px
    padding: 15px
    +xs
      padding: 15px 60px
    &.swiper-container-initialized
      .offers__items
        display: flex
        grid-gap: 0
        grid-template-columns: none
      .offer
        opacity: 0
        &.swiper-slide-visible
          opacity: 1

  


.offer
  width: 501px
  padding: 24px
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2)
  border-radius: 16px
  background: #fff
  min-height: 280px
  +tran(opacity,.2s)
  +flex(0,0,space-between,0)
  +break(1600)
    width: auto
    min-height: 200px
    padding: 10px
  +xs
    padding-bottom: 48px
    min-height: 383px
    +flex(column,0,0,center)
  &__info
    +flex(column,0,space-between,flex-start)
    +xs
      width: 100%
      margin-bottom: 16px
      flex-direction: row-reverse
  &__title
    +text(18,700,24,0)
    span
      display: block
      +text(48,700,56,0)
  &__link
    +flex(0,0,flex-start,center)
    +text(14,600,24,0)
    +xs
      position: absolute
      bottom: 24px
      left: 20px
    i
      width: 22px
      height: 22px
      background: $color-primary
      border-radius: 50%
      margin-left: 6px
      +tran(all,.4s)
      +flex(0,0,center,center)
    +hover
      i
        background: $color-primary-hover
  &__thumb
    display: block
    width: 240px
    height: 240px
    object-fit: cover
    border-radius: 50%
    align-self: center
    +break(1600)
      width: 130px
      height: 130px
    +xs
      margin-bottom: 14px
      width: 100%
      height: 191px
      border-radius: 16px
  .preview__sticker
    display: inline-block
    width: auto
    +break(1600)
      font-size: 12px
    +xs
      margin-top: 10px
      width: 100%
      max-width: 50%
      overflow: hidden
      text-overflow: ellipsis




.categoryChild
  &__sort
    padding: 40px 0 15px 0
    +flex(0,0,flex-start,center)
    +xs
      padding-bottom: 54px
    .dropdown
      &:not(:last-child)
        margin-right: 24px
        +xs
          margin-right: 0
  &__catalog
    width: 109px
    padding: 8px 0
    border-radius: 8px
    margin-right: 16px
    +flex(0,0,center,center)
    display: none
    +text(15,400,20,#fff)
    +sm
      display: flex
    +before
      margin-right: 7px
.sort
  +xs
    margin-left: auto
.view
  width: 75px
  +sm
    display: none



.navigation
  &__title
  &__list
  &__child
    opacity: 0
    max-height: 0
    overflow: hidden
    padding-top: 0
    +tran(all,.4s)
    li
      padding-left: 24px
      &:not(:last-child)
        margin-bottom: 16px
    a
      +text(16,400,24,0)
  &__childOpener
    position: absolute
    top: 0
    right: 0
    width: 50px
    height: 24px
    display: none
    +before
      top: 50%
    +after
      top: 50%
  &__item
    padding-right: 56px
    &--hasChild
      position: relative
      .navigation__childOpener
        display: block
    &--open
      > a
        font-weight: 600!important
        text-decoration: none
        color: $color-primary
      .navigation__child
        margin-top: 16px
        opacity: 1
        max-height: 500px
      .arrow
        +before
          right: 22px
          transform: rotate(-40deg) translateY(-50%)
        +after
          transform: rotate(40deg) translateY(-50%)
    &--scroller
      .navigation__child
        overflow: auto
    &:not(:last-child)
      margin-bottom: 16px
    > a
      display: block
      overflow: hidden
      text-overflow: ellipsis
      +text(18,400,24,0)
      +tran(padding-bottom,.4s)
      +md
        font-size: 16px
      +hover
        font-weight: 600
        text-decoration: none
        color: $color-primary
  


.pagination
	padding: 16px 0 0 0
	+xs
		padding: 24px 0 0 0
	ul
		+flex(0,0,center,center)
		li
			&:not(:last-child)
				margin-right: 10px
			a
				width: 37px
				height: 37px
				border-radius: 4px
				+flex(0,0,center,center)
				+text(14,600,24,0)
				+tran(all,.4s)
				+hover
          background: $color-primary
          text-decoration: none
          color: #fff
			&:nth-child(1n + 5)
				+xs
					display: none
						
	&--blog
		padding-top: 41px
		max-width: 920px
		+xs
			padding-bottom: 40px
	&--actions
		padding: 64px 0 32px 0
	&__delim
    margin: 0 24px 0 8px!important
    +xs
      display: block !important
    + li
      display: block !important
	&__current
		a
      border: 2px solid $color-primary
      background: $color-primary
      color: #fff
    

.more
  text-align: center
  padding: 54px 0 0 0
  +xs
    padding: 40px 0 0 0
  button
    +text(18,600,24,$color-primary)
    +hover
      text-decoration: underline