@import "../var.sass"


.home
  .categories
    padding-top: 80px
    +xs
      padding-top: 40px

.categories
  .container
    position: relative
    z-index: 10
  &__items
    display: grid
    grid-template-columns: repeat(4,1fr)
    grid-gap: 16px
    width: 100%
    +break(1440)
      grid-template-columns: repeat(3,1fr)
    +sm
      grid-template-columns: repeat(2,1fr)
    +xs
      grid-template-columns: repeat(2, 48%)
  &__slider
    margin: -15px
    padding: 15px
    +tran(all,.8s)
    +xs
      padding: 15px 60px
    &.swiper-container-initialized
      .categories__items
        display: flex
        grid-gap: 0
      .categories__item
        opacity: 0
        transition: opacity .2s
        &.swiper-slide-visible
          opacity: 1
  &__thumb
    position: relative
    +before
      position: absolute
      top: 11px
      left: 0
      width: 80px
      height: 68px
      background: url('../img/layout/green.svg')
      transform: rotate(27deg)
    img
      position: relative
      z-index: 1
      width: 141px
      height: 94px
      object-fit: contain
      +xs
        max-width: 105px
  &__item
    width: 100%
    border-radius: 16px
    background: $color-categories
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2)
    padding: 13px 28px
    +flex(0,0,flex-start,center)
    +xs
      flex-direction: column
      padding: 12px
    span
      display: inline-block
      margin-left: 58px
      letter-spacing: 0.01em
      +text(18,600,26,0)
      +break(1600)
        margin-left: 10px
      +xs
        margin: 0 auto
        font-weight: 700
        max-width: 100%
        height: 52px
        overflow: hidden
        text-overflow: ellipsis
        text-align: center
    +hover
      text-decoration: none
      box-shadow: 0px 2px 10px rgba(250, 70, 22, 0.32)
  .sectionHeading
    margin-bottom: 15px
  &.slider-disabled
    .sliderArrows
      display: none !important


.section
  +tran(all,.8s)
  &--hide
    opacity: 0
    transform: translateY(70px)
    +xs
      opacity: 1
      transform: none
  &__sliderWrap
    +xs
      position: relative
  &__heading
    margin-bottom: 40px
    +flex(0,wrap,space-between,center)
    +xs
      margin-bottom: 19px
  &__titles
    +flex(0,0,flex-start,flex-end)
  &__subtitle
    width: 100%
    margin-top: 24px
    +xs
      +text(16,0,0,$color-primary)
    a
      +text(18,400,24, $color-primary)
      +xs
        font-size: 16px
  &__link
    margin-left: 16px
    letter-spacing: 0.02em
    +text(12,600,24,$color-primary)
    +xs
      +text(14,400,17,$color-primary)


.sliderArrows
  +flex(0,0,flex-start,center,inline-flex)
  &__prev
    position: absolute
    top: 4px
    right: 30px
    +xs
      top: 50%
      left: 0
      transform: translateY(-50%)
  &__next
    position: absolute
    top: 4px
    right: 0
    +xs
      top: 50%
      right: 0
      transform: translateY(-50%)
    +before
      transform: rotate(180deg)
  &__arrow
    width: 24px
    height: 24px
    border-radius: 4px
    z-index: 10
    +tran(all,.4s)
    +flex(0,0,center,center) 
    &--active
      background: $color-primary
      +before
        width: 7px
        height: 14px
        background: url(../img/icons.svg) -21px -5px no-repeat
      +hover
        background: $color-primary-hover
      &.sliderArrows__prev
        +before
          transform: rotate(180deg)
      &.sliderArrows__next
        +before
          transform: none
    &.swiper-button-lock
      display: none
  &--static
    .sliderArrows__arrow
      position: static
    .sliderArrows__prev
      margin-right: 5px
      
  

.productsSlider
  padding: 104px 0
  +xs
    padding: 55px 0 40px 0
  &__buttons
    padding: 26px 0 0 0
  &__btn
    +text(18,400,24,#898989)
    +xs
      display: block
      text-align: left
      +text(23,0,27,0)
    &:not(:last-child)
      margin-right: 60px
      +xs
        margin: 0 0 40px 0
    &--active
      font-weight: 700
      color: $color-primary
  &__tabs
    position: relative
    height: 510px
    +xs
      height: auto
    .preview
      &:nth-child(1n + 5)
        +xs
          display: none
  &__tabWrap
    margin: -15px
    padding: 15px
    opacity: 0
    pointer-events: none
    position: absolute
    top: 0
    left: 0
    right: 0
    //overflow: visible
    +xs
      position: static
      display: none
      opacity: 1
      pointer-events: auto
    &--active
      opacity: 1
      pointer-events: auto
      animation: fadeIn .6s linear
      +xs
        display: block
    &.swiper-container-initialized
      .productsSlider__tab
        display: flex
        grid-gap: 0
      .swiper-slide
        opacity: 0
        transition: opacity .2s
      .swiper-slide-visible
        opacity: 1
  &__arrows
    display: none
    &--active
      display: flex
      +xs
        display: none
  .section__titles
    width: 100%
  .section__heading
    margin: 0 0 40px 0
    position: relative
  .sliderArrows
    position: absolute
    bottom: 0
    right: 0
  .section__link
    +xs
      display: block


.partners
  .container
    position: relative
  &__slider
    margin: -15px
    padding: 15px
    +xs
      padding: 15px 45px
  &__item
    height: 184px
    background: #FFFFFF
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2)
    border-radius: 16px
    opacity: 0
    +flex(0,0,center,center)
    transition: opacity .2s
    +xs
      height: 78px
    &.swiper-slide-visible
      opacity: 1
    img
      display: block
      +xs
        //max-width: 100px
        height: 60px
        object-fit: contaim
  &__btn
    max-width: 320px
    margin: 32px auto 0 auto
    padding: 17px 0
    +xxs
      max-width: 100%
  .section__heading
    position: relative
    +sm
      //padding-right: 50px
  .section__subtitle
    +xs
      //display: none
  .sliderArrows
    position: absolute
    bottom: 0
    right: 0 


.aboutBlock
  position: relative
  +before
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 638px
    background-image: url('../img/layout/background-primary-top.svg')
    background-repeat: no-repeat
    background-size: 100%
    +xs
      background-size: cover
      background-image: url('../img/layout/background-primary-top-mobile.svg')
  +after
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 638px
    background-image: url('../img/layout/background-primary-bottom.svg')
    background-repeat: no-repeat
    background-size: 100%
    background-position: bottom
    +xs
      background-image: url('../img/layout/background-primary-bottom-mobile.svg')
      background-size: cover
  &__wrap
    position: relative
    z-index: 10
    padding: 75px calc((100% - 1540px) / 2) 75px 0
    +flex(0,0,space-between,center)
    +break(1600)
      padding: 75px 4% 75px 0
    +sm
      padding: 75px 4%
    +xs
      padding: 160px 4%
  &__imgWrap
    width: 100%
    max-width: 52%
    height: 1178px
    overflow: visible !important
    position: relative
    +break(1400)
      padding-bottom: 125px
    +md
      height: 961px
    +sm
      display: none
  &__img    
    background-repeat: no-repeat
    top: 0 !important
    left: 0 !important
    width: 100% !important
    height: 100% !important
    background-size: contain
    background-position: left
    +sm
      display: none
  &__content
    max-width: 43%
    +break(1600)
      //max-width: 47%
    +sm
      max-width: 100%
  &__items
    +flex(0,wrap,space-between,flex-start)
  &__item
    width: 45%
    margin-bottom: 29px
    +xs
      width: 100%
  &__itemTitle
    position: relative
    display: block
    +break(1600)
      +text(24,0,32,0)
    +xs
      padding-left: 48px
    +before
      display: none
      position: absolute
      top: 0
      left: 0
      +xs
        display: block
    br
      +xs
        display: none
  &__itemText
    display: block
    margin-top: 16px
    letter-spacing: 0.01em
    +text(16,400,24,#38382F)
    +xs
      margin-top: 12px
  &__title
    text-transform: uppercase
    +text(48,700,56,0)
    +break(1600)
      +text(30,0,36,0)
    +xs
      +text(24,0,32,0)
  &__subtitle
    margin: 32px 0 56px 0
    +text(18,400,24,#1B1B1B)
    +break(1600)
      margin: 24px 0
    +xs
      font-size: 16px
  &__link
    margin-top: 11px
    max-width: 415px
    padding: 17px 0
    +break(550)
      margin-top: 3px


.clients
  padding-top: 104px
  +xs
    padding-top: 0
  .container
    position: relative
  &__slider
    margin: -15px
    padding: 15px
    +xs
      padding: 15px 50px
  .section__heading
    position: relative
    +sm
      //padding-right: 50px
  .section__subtitle
    +xs
      //display: none
  .sliderArrows
    position: absolute
    bottom: 0
    right: 0 


.recipes
  margin-top: 104px
  +xs
    margin-top: 50px
  +before
    background-image: url('../img/layout/background-green-top.svg')
    background-repeat: no-repeat
    height: 550px
    background-size: 100%
    +xs
      background-size: cover
      background-position: bottom
  +after
    background-image: url('../img/layout/background-green-bottom.svg')
    background-repeat: no-repeat
    height: 550px
    background-size: 100%
    +xs
      background-image: url('../img/layout/background-green-top.svg')
      transform: rotateY(180deg) rotateX(180deg)
      background-size: cover
  .aboutBlock__wrap
    padding: 200px 100px 150px calc((100% - 1540px) / 2)
    +break(1600)
      padding: 200px 4% 150px 4%
    +xs
      padding-top: 175px
  .aboutBlock__link
    +break(550)
      margin-top: 32px
      max-width: 100%
  .aboutBlock__imgWrap
    height: 958px
  .aboutBlock__img
    //max-width: 51%
  .aboutBlock__subtitle
    margin-bottom: 40px
  &__content
    max-width: 46%
    +sm
      max-width: 100%
  &__imgWrap
    width: 818px
    height: 959px
    max-width: 52%
  &__img
    max-width: 818px
    height: 959px
    background-repeat: no-repeat
    background-size: contain
  &__list
    padding-bottom: 40px
    +flex(0,0,flex-start,0)
    +break(550)
      padding-bottom: 16px
      +flex(column,0,0,center)
  &__left
    width: 55%
    +break(550)
      width: 100%
  &__right
    width: 41%
    margin-left: 32px
    +flex(column,0,space-between,0)
    +break(550)
      width: 100%
      margin: 16px 0 0 0
  &__categories
    position: absolute
    top: 14px
    left: 16px
    z-index: 10
    a
      display: inline-block
      padding: 6px 17px
      background: rgba(255, 255, 255, 0.55)
      backdrop-filter: blur(4px)
      border-radius: 13.5px
      margin: 0 8px 8px 0
      +text(12,400,20,#303030)
      +tran(all,.4s)
      &:nth-child(1n + 4)
        +xs
          display: none
      +hover
        text-decoration: none
        background: #fff
      +md
        font-size: 10px
        padding: 3px 10px
      +break(550)
        font-size: 12px
        padding: 6px 17px
        background: #fff
  &__rate
    position: absolute
    bottom: 16px
    left: 16px
    background: rgba(255, 255, 255, 0.55)
    width: 64px
    height: 32px
    border-radius: 13.5px
    backdrop-filter: blur(4px)
    +text(12,400,20,0)
    +flex(row-reverse,0,center,center)
    +before
      margin-left: 4px
  &__thumb
    display: block
    overflow: hidden
    width: 100%
    height: 199px
    position: relative
    +break(1400)
      height: auto
    +break(550)
      height: 190px
    img
      width: 100%
      height: 100%
      object-fit: cover
      +tran(all,.4s)
  &__date
    margin-bottom: 2px
    +text(12,400,20,#636060)
    +break(550)
      margin-top: 16px
  &__title
    display: block
    max-height: 71px
    overflow: hidden
    text-overflow: ellipsis
    +text(18,700,24,0)
    +md
      max-height: 54px
      +text(14,0,18,#000) 
    +break(550)
      max-height: 97px
      margin-bottom: 8px
      +text(24,0,32,0)
  &__desc
    max-height: 47px
    overflow: hidden
    text-overflow: ellipsis
    +text(16,300,24,#000)  
  &__caption
    padding: 2px 8px 8px 8px
    +break(550)
      padding: 16px
  &__end
    margin-bottom: 24px
    +break(550)
      text-align: center
      +text(16,0,24,0)
  &__item
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2)
    border-radius: 16px
    width: 302px
    width: 100%
    background: #fff
    overflow: hidden
    position: relative
    &:not(:last-child)
      margin-bottom: 16px
      +break(550)
        margin-bottom: 0
    &:nth-child(1n + 2)
      +break(550)
        display: none
    +hover
      .recipes__thumb
        img
          transform: scale(1.1)
    &--big
      width: 416px
      width: 100%
      height: 100%
      .recipes__thumb
        width: 100%
        height: 464px
        +break(1400)
          height: auto
        +break(550)
          height: 190px
        img
          display: block
          width: 100%
          height: 100%
      .recipes__caption
        padding: 10px 16px 24px 16px
        +break(550)
          padding: 16px
      .recipes__date
        margin-bottom: 4px
      .recipes__title
        max-height: 97px
        margin-bottom: 8px
        +text(24,0,32,0)
        +md
          +text(18,0,24,0)
        +break(550)
          +text(24,0,32,0)


.feedback
  +sm
    margin-top: 61px
  .container
    +flex(0,0,center,center)
  &__title
    text-transform: uppercase
    letter-spacing: 0.02em
    +text(64,700,76,0)
    +md
      +text(48,0,56,0)
    +xs
      +text(32,0,38,0)
  &__btn
    margin-top: 48px
    max-width: 446px
    +xs
      margin-top: 40px
  &__managers
    min-width: 431px
    min-height: 703px
    position: relative
    +sm
      display: none
    &--load
      +before
        width: 256px
        height: 256px
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-image: url(../img/spin.jpg)
  &__manager
    display: none
    position: relative
    img
      display: block
      width: 431px
      height: 703px
      object-fit: contain
      object-position: bottom
    &--active
      display: block
  &__caption
    width: 100%
    border-radius: 30px 0 0 0
    position: absolute
    left: -48px
    bottom: 82px
    background: linear-gradient(89.55deg, #39B54A 36.86%, #39B54A 50.72%, rgba(57, 181, 74, 0) 81.3%)
    padding: 11px 25px
    color: #fff
  &__name
    white-space: nowrap
    +text(32,700,40,0)
  &__worker
    +text(18,400,24,0)


.seo
  background: $color-seo-block
  padding: 80px 0 50px 0
  position: relative
  z-index: 10
  +sm
    padding: 20px 0
    margin-top: 80px
  &__title
    text-transform: uppercase
    margin-bottom: 30px
    +text(36,600,48,0)
    +sm
      font-weight: 700
  &__text
    letter-spacing: 0.02em
    max-height: 136px
    overflow: hidden
    +tran(all,.4s)
    +text(16,300,21,0)
    +xs
      max-height: 148px
    p
      margin-bottom: 30px
  &__more
    position: relative
    padding-right: 40px
    +text(14,400,19,$color-primary)
    +before
      top: 50%
    +after
      top: 50%
  &--full
    .seo__text
      max-height: 900px
    .seo__more
      +before
        transform: rotate(-40deg) translateY(-50%)
      +after
        transform: rotate(40deg) translateY(-50%)
        right: 17px
  &--scroll
    .seo__text
      overflow-y: auto
  &--productNc
    background: $transparent
    padding: 0
    .seo__text
      max-height: 96px
      +text(16,400,24,#000)
    &.seo--full
      .seo__text
        max-height: 320px
      .seo__more
        margin-top: 16px
