@import "../var.sass"





.productPage
  &__main
    padding-bottom: 104px
  
  &Images
    width: 100%
    max-width: 449px
    &__top
      img
        width: 449px
        height: 449px
        display: block
        object-fit: contain
    &__bottom
      padding-top: 16px
      img
        width: 106px
        height: 106px
        display: block
        object-fit: contain