.header {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100; }
  @media (max-width: 768px) {
    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0; } }
  .header__top {
    background: #242424; }
    @media (max-width: 768px) {
      .header__top {
        display: none; } }
  .header__toolbar {
    padding: 4px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__contacts {
    margin-right: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1366px) {
      .header__contacts {
        margin-right: 40px; } }
    @media (max-width: 992px) {
      .header__contacts {
        margin-right: 24px; } }
    .header__contacts a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #F3F6FA; }
      .header__contacts a::before {
        content: '';
        margin-right: 9px; }
      .header__contacts a:not(:last-child) {
        margin-right: 37px; }
        @media (max-width: 1366px) {
          .header__contacts a:not(:last-child) {
            margin-right: 20px; } }
        @media (max-width: 992px) {
          .header__contacts a:not(:last-child) {
            margin-right: 10px; } }
      .header__contacts a:hover {
        text-decoration: underline; }
      @media (max-width: 1199px) {
        .header__contacts a {
          font-size: 12px; } }
      @media (max-width: 992px) {
        .header__contacts a {
          font-size: 10px; } }
  .header__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__links li:not(:last-child) {
      margin-right: 32px; }
      @media (max-width: 1199px) {
        .header__links li:not(:last-child) {
          margin-right: 16px; } }
      @media (max-width: 992px) {
        .header__links li:not(:last-child) {
          margin-right: 8px; } }
    @media (max-width: 1199px) {
      .header__links li:nth-child(1n + 4) {
        display: none; } }
    .header__links li a {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #F3F6FA; }
      .header__links li a:hover {
        text-decoration: underline; }
      @media (max-width: 1199px) {
        .header__links li a {
          font-size: 12px; } }
      @media (max-width: 992px) {
        .header__links li a {
          font-size: 10px; } }
  .header__languages {
    margin-left: auto;
    margin-right: 97px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; }
    @media (max-width: 1366px) {
      .header__languages {
        margin-right: 50px; } }
    @media (max-width: 1199px) {
      .header__languages {
        font-size: 12px;
        margin-right: 25px; } }
    @media (max-width: 992px) {
      .header__languages {
        font-size: 10px;
        margin-right: 20px; } }
  .header__lang {
    border-radius: 4px;
    color: #8b8d8f;
    padding: 0 4px; }
    .header__lang:hover {
      text-decoration: underline; }
    .header__lang:not(:last-child) {
      margin-right: 5px; }
    .header__lang--active {
      background: #FA4616;
      color: #fff; }
      .header__lang--active:hover {
        text-decoration: none; }
  .header__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__socials a {
      width: 20px;
      height: 20px;
      background: #FA4616;
      border-radius: 5px 0 5px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .header__socials a:not(:last-child) {
        margin-right: 20px; }
        @media (max-width: 992px) {
          .header__socials a:not(:last-child) {
            margin-right: 5px; } }
      .header__socials a:hover {
        background: #E44318; }
  .header__inner {
    background: #fff;
    padding: 24px 0; }
    @media (max-width: 992px) {
      .header__inner {
        padding: 16px 0; } }
    @media (max-width: 768px) {
      .header__inner {
        padding: 8px 0;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; } }
  .header__center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  @media (max-width: 768px) {
    .header__logo {
      display: block !important;
      margin-right: 16px; } }
  .header__logo img {
    display: block;
    width: 234px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain; }
    @media (max-width: 1366px) {
      .header__logo img {
        width: 160px; } }
  .header__logoWhite {
    display: none !important; }
  .header__search {
    width: 100%;
    max-width: 644px;
    position: relative;
    margin-left: 125px; }
    @media (max-width: 1600px) {
      .header__search {
        max-width: 530px;
        margin-left: 60px; } }
    @media (max-width: 1366px) {
      .header__search {
        max-width: 425px;
        margin-left: 45px; } }
    @media (max-width: 992px) {
      .header__search {
        max-width: 300px; } }
    @media (max-width: 768px) {
      .header__search {
        position: absolute;
        bottom: -40%;
        left: 4%;
        right: 4%;
        margin: 0;
        max-width: 100%;
        opacity: 0;
        pointer-events: none;
        width: auto;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; } }
    .header__search--open {
      bottom: -75%;
      opacity: 1;
      pointer-events: auto; }
    .header__search label {
      position: absolute;
      top: 50%;
      left: 18px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media (max-width: 992px) {
        .header__search label {
          left: 10px; } }
    .header__search input {
      width: 100%;
      padding: 10px 0 10px 55px;
      border-radius: 24px;
      background: rgba(238, 238, 238, 0.9);
      border: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
      @media (max-width: 992px) {
        .header__search input {
          padding: 5px 0 5px 35px;
          font-size: 12px; } }
      @media (max-width: 768px) {
        .header__search input {
          background: #eee; } }
    .header__search button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 152px;
      background: #FA4616;
      border-radius: 0px 24px 24px 0px;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      color: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .header__search button:hover {
        background: #E44318; }
      @media (max-width: 1366px) {
        .header__search button {
          width: 75px; } }
      @media (max-width: 992px) {
        .header__search button {
          width: 60px;
          font-size: 12px; } }
  .header .open_mobile {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: .4s;
         -o-transition-delay: .4s;
            transition-delay: .4s; }
    .header .open_mobile--hidden {
      opacity: 0;
      -webkit-transition-delay: .8s;
           -o-transition-delay: .8s;
              transition-delay: .8s; }
  .header__tools {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__searchMobile, .header__burger {
    display: none; }
    @media (max-width: 768px) {
      .header__searchMobile, .header__burger {
        display: block; } }
  .header__tool {
    padding-left: 45px;
    position: relative;
    max-width: 145px;
    cursor: pointer; }
    @media (max-width: 768px) {
      .header__tool {
        padding-left: 0; } }
    .header__tool::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media (max-width: 768px) {
        .header__tool::before {
          -webkit-transform: translateY(-50%) scale(0.8);
              -ms-transform: translateY(-50%) scale(0.8);
                  transform: translateY(-50%) scale(0.8); } }
    .header__tool:not(:last-child) {
      margin-right: 23px; }
      @media (max-width: 1600px) {
        .header__tool:not(:last-child) {
          margin-right: 10px; } }
      @media (max-width: 1199px) {
        .header__tool:not(:last-child) {
          margin-right: 20px; } }
      @media (max-width: 768px) {
        .header__tool:not(:last-child) {
          margin-right: 0; } }
    .header__tool--auth {
      padding-left: 40px; }
      @media (max-width: 1199px) {
        .header__tool--auth {
          margin-right: 40px !important; } }
      @media (max-width: 768px) {
        .header__tool--auth {
          display: none; } }
      .header__tool--auth a {
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px; }
        .header__tool--auth a:hover {
          text-decoration: none; }
        @media (max-width: 1199px) {
          .header__tool--auth a {
            font-size: 0; } }
    .header__tool--logged > a::before {
      content: '';
      top: 50%;
      right: 7px;
      -webkit-transform: rotate(40deg) translateY(-50%);
          -ms-transform: rotate(40deg) translateY(-50%);
              transform: rotate(40deg) translateY(-50%); }
      @media (max-width: 1199px) {
        .header__tool--logged > a::before {
          right: -2px; } }
    .header__tool--logged > a::after {
      content: '';
      top: 50%;
      right: 0;
      -webkit-transform: rotate(-40deg) translateY(-50%);
          -ms-transform: rotate(-40deg) translateY(-50%);
              transform: rotate(-40deg) translateY(-50%); }
      @media (max-width: 1199px) {
        .header__tool--logged > a::after {
          right: -10px; } }
    .header__tool.open_logged--opened > a::before {
      content: '';
      right: 6px;
      -webkit-transform: rotate(-40deg) translateY(-50%);
          -ms-transform: rotate(-40deg) translateY(-50%);
              transform: rotate(-40deg) translateY(-50%); }
      @media (max-width: 1199px) {
        .header__tool.open_logged--opened > a::before {
          right: -4px; } }
    .header__tool.open_logged--opened > a::after {
      content: '';
      -webkit-transform: rotate(40deg) translateY(-50%);
          -ms-transform: rotate(40deg) translateY(-50%);
              transform: rotate(40deg) translateY(-50%); }
      @media (max-width: 1199px) {
        .header__tool.open_logged--opened > a::after {
          right: -10px; } }
    @media (max-width: 1199px) {
      .header__tool--wish {
        width: 30px;
        height: 28px; } }
    @media (max-width: 768px) {
      .header__tool--wish {
        display: none; } }
    @media (max-width: 1199px) {
      .header__tool--cart {
        width: 32px;
        height: 32px; } }
    @media (max-width: 768px) {
      .header__tool--cart {
        margin: 0 33px 0 38px !important; } }
  .header__toolName {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; }
    @media (max-width: 1199px) {
      .header__toolName {
        display: none; } }
  .header__toolCount {
    background: #52B44E;
    border-radius: 8px;
    padding: 2px 6px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #fff; }
    @media (max-width: 1199px) {
      .header__toolCount {
        font-size: 0;
        position: absolute;
        top: -10px;
        right: 7px;
        width: 20px;
        height: 20px;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 50%; } }
    @media (max-width: 768px) {
      .header__toolCount {
        width: 12px;
        height: 12px;
        top: 0;
        right: 0; } }
    @media (max-width: 1199px) {
      .header__toolCount span {
        font-size: 14px; } }
    @media (max-width: 768px) {
      .header__toolCount span {
        font-size: 10px; } }
  .headerDropdown {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    position: absolute;
    width: 392px;
    top: calc(100% + 20px);
    right: 0;
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 10px 0 0 0;
    z-index: 100;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .headerDropdown__items {
      max-height: 293px;
      overflow: auto;
      -webkit-box-shadow: inset 0 -5px 15px -15px black;
              box-shadow: inset 0 -5px 15px -15px black; }
    .headerDropdown__item {
      padding: 16px 52px 16px 24px;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .headerDropdown__item:not(:last-child) {
        border-bottom: 1px solid #EDEDED; }
    .headerDropdown__thumb {
      width: 74px;
      height: 74px;
      -o-object-fit: contain;
         object-fit: contain;
      display: block;
      border: 1px solid #EDEDED;
      padding: 5px; }
    .headerDropdown__caption {
      margin-left: 16px; }
    .headerDropdown__name {
      display: block;
      max-width: 224px;
      max-height: 48px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
    .headerDropdown__price {
      font-size: 16px;
      font-weight: 600;
      color: #242426; }
    .headerDropdown__del {
      position: absolute;
      top: 16px;
      right: 24px; }
    .headerDropdown__bottom {
      padding: 20px 24px 16px 24px; }
    .headerDropdown__total {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: #242426; }
      .headerDropdown__total--noCommerce {
        color: #52B44E; }
      .headerDropdown__total--commerce {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
    .headerDropdown .btn--dashed {
      margin: 8px auto 0 auto;
      display: block; }
    .headerDropdown--open {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .headerDropdown.logged {
      width: 194px;
      padding: 18px 16px;
      right: unset;
      left: 0; }
      @media (max-width: 1199px) {
        .headerDropdown.logged {
          left: unset;
          right: -50%; } }
      .headerDropdown.logged ul li:not(:last-child) {
        margin-bottom: 8px; }
      .headerDropdown.logged ul li a {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }
        .headerDropdown.logged ul li a:hover {
          text-decoration: none;
          color: #FA4616; }
  .header__bottom {
    padding: 24px 0 0 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .header__bottom {
        padding: 16px 0 0 0; } }
    @media (max-width: 768px) {
      .header__bottom {
        display: none; } }
  .header__nav {
    margin-left: 125px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1600px) {
      .header__nav {
        margin-left: 60px; } }
    @media (max-width: 1366px) {
      .header__nav {
        margin-left: 45px; } }
    .header__nav li:not(:last-child) {
      margin-right: 32px; }
      @media (max-width: 992px) {
        .header__nav li:not(:last-child) {
          margin-right: 24px; } }
    .header__nav li a {
      font-size: 18px;
      font-weight: 400;
      line-height: 16px;
      color: #242426; }
      @media (max-width: 1199px) {
        .header__nav li a {
          font-size: 14px; } }
  .header .catalog {
    width: 234px; }
    @media (max-width: 1366px) {
      .header .catalog {
        width: 160px; } }
    .header .catalog::before {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 200;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .header .catalog__btn {
      padding: 12px 0;
      position: relative;
      z-index: 300;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .catalog__btn::before {
        content: '';
        margin-right: 10px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s; }
      @media (max-width: 1366px) {
        .header .catalog__btn {
          padding: 6px 0;
          font-size: 14px; } }
    .header .catalog__wrap {
      position: absolute;
      top: calc( 100% + 10px);
      left: 0;
      right: 0;
      z-index: 300;
      background: #fff;
      border-radius: 16px;
      padding: 13px;
      -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
      opacity: 0;
      pointer-events: none;
      -webkit-transform: translateY(30px);
          -ms-transform: translateY(30px);
              transform: translateY(30px);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .header .catalog__menu {
      width: 100%;
      padding: 0 0 0 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .header .catalog__products {
      width: calc(280px * 3 + 18px);
      height: 100%;
      -webkit-align-content: flex-start;
          -ms-flex-line-pack: start;
              align-content: flex-start;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      @media (max-width: 1600px) {
        .header .catalog__products {
          width: 100%; } }
    .header .catalog__child {
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #FFF6F3;
      padding: 16px 16px 19px 16px;
      z-index: 1;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .header .catalog__link {
      margin-bottom: 11px;
      padding: 13px 36px 0 16px;
      position: relative;
      width: 280px; }
      @media (max-width: 1600px) {
        .header .catalog__link {
          width: 33%; } }
      @media (max-width: 1366px) {
        .header .catalog__link {
          width: 49%; } }
      @media (max-width: 1199px) {
        .header .catalog__link {
          padding-top: 5px; } }
      @media (max-width: 1199px) {
        .header .catalog__link a {
          font-size: 14px; } }
      .header .catalog__link ul li:not(:last-child) {
        margin-bottom: 16px; }
      .header .catalog__link ul li a {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; }
        @media (max-width: 1199px) {
          .header .catalog__link ul li a {
            font-size: 12px; } }
      .header .catalog__link:hover > a {
        color: #FA4616;
        text-shadow: 0 0 1px #fa4616;
        text-decoration: none; }
      .header .catalog__link:hover .catalog__child {
        opacity: 1;
        pointer-events: auto; }
      .header .catalog__link--parent {
        position: relative;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
        .header .catalog__link--parent:hover {
          background: #FFF6F3; }
          .header .catalog__link--parent:hover::before {
            content: '';
            -webkit-transform: rotate(-40deg);
                -ms-transform: rotate(-40deg);
                    transform: rotate(-40deg); }
          .header .catalog__link--parent:hover::after {
            content: '';
            -webkit-transform: rotate(40deg);
                -ms-transform: rotate(40deg);
                    transform: rotate(40deg); }
    .header .catalog__pages {
      margin: 0 32px; }
      .header .catalog__pages .catalog__link {
        width: 100%; }
    @media (max-width: 992px) {
      .header .catalog__bannerWrap {
        display: none; } }
    .header .catalog__banner {
      max-width: 300px;
      display: block; }
      @media (max-width: 1199px) {
        .header .catalog__banner {
          max-width: 210px; } }
    .header .catalog--open::before {
      content: '';
      opacity: 1;
      pointer-events: auto;
      -webkit-transition-delay: .2s;
           -o-transition-delay: .2s;
              transition-delay: .2s; }
    .header .catalog--open .catalog__wrap {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      -webkit-transition-delay: .4s;
           -o-transition-delay: .4s;
              transition-delay: .4s; }
    .header .catalog--open .catalog__btn {
      background: #E44318; }
      .header .catalog--open .catalog__btn::before {
        content: '';
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
  .header--opacity {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    @media (max-width: 768px) {
      .header--opacity {
        background: rgba(0, 0, 0, 0.4); } }
    .header--opacity .header__inner {
      background: rgba(0, 0, 0, 0); }
    .header--opacity .header__tool {
      color: #F3F6FA; }
      .header--opacity .header__tool > a {
        color: #F3F6FA; }
    .header--opacity .header__nav li a {
      color: #F3F6FA; }
    .header--opacity .header__logoDefault {
      display: none !important; }
    .header--opacity .header__logoWhite {
      display: block !important; }
  .header--fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-animation: header .2s linear, fadeIn .4s linear;
            animation: header .2s linear, fadeIn .4s linear; }
    @media (max-width: 768px) {
      .header--fix {
        -webkit-animation: none;
                animation: none; } }
    .header--fix .header__inner {
      background: #fff;
      -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .header--fix .header__logo, .header--fix .header__nav, .header--fix .header__top {
      display: none; }
    .header--fix .header__inner .container {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .header--fix .header__inner .container {
          position: static; } }
    .header--fix .header__inner .header__center {
      width: 100%; }
    .header--fix .header__inner .header__bottom {
      position: static;
      padding-top: 0; }
    .header--fix .header__inner .header__search {
      max-width: 726px;
      margin-left: 102px; }
      @media (max-width: 1600px) {
        .header--fix .header__inner .header__search {
          max-width: 530px;
          margin-left: 60px; } }
      @media (max-width: 1366px) {
        .header--fix .header__inner .header__search {
          max-width: 425px;
          margin-left: 45px; } }
      @media (max-width: 992px) {
        .header--fix .header__inner .header__search {
          max-width: 300px; } }
      @media (max-width: 768px) {
        .header--fix .header__inner .header__search {
          max-width: 100%;
          margin: 0; } }
    .header--fix .header__tool {
      color: #242426; }
      .header--fix .header__tool > a {
        color: #242426; }
    .header--fix .header__nav li a {
      color: #242426; }

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 200;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .mobileMenu__close {
    position: absolute;
    top: 28px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s; }
  .mobileMenu__inner {
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    background: #fff;
    z-index: 300;
    width: calc(100% - 4% - 28px);
    max-height: 100vh;
    overflow: auto;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  @media (max-width: 768px) {
    .mobileMenu--open {
      opacity: 1;
      pointer-events: auto; } }
  .mobileMenu--open .mobileMenu__close {
    opacity: 1; }
  @media (max-width: 768px) {
    .mobileMenu--open .mobileMenu__inner {
      left: 0;
      -webkit-transition-delay: .4s;
           -o-transition-delay: .4s;
              transition-delay: .4s; } }
  .mobileMenu__header {
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .mobileMenu__logo img {
    display: block;
    max-width: 160px; }
  .mobileMenu__langs .header__languages {
    font-size: 14px;
    margin-right: 0; }
  .mobileMenu__langs .header__lang {
    margin-right: 0;
    color: #242426; }
    .mobileMenu__langs .header__lang--active {
      color: #fff; }
  .mobileMenu__main {
    background: #FCF2F0;
    max-height: 455px;
    overflow: auto; }
    .mobileMenu__main > ul {
      position: relative;
      overflow: auto; }
  .mobileMenu__item {
    padding-left: 26px; }
    .mobileMenu__item:not(:last-child) > a {
      border-bottom: 1px solid #D6D6D6; }
    .mobileMenu__item a {
      display: block;
      padding: 16px 0 16px 50px;
      position: relative;
      letter-spacing: 0.02em;
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
      color: #242426; }
      .mobileMenu__item a:hover {
        color: #FA4616;
        text-decoration: none; }
      .mobileMenu__item a i {
        position: absolute;
        width: 32px;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
        .mobileMenu__item a i::before {
          content: '';
          margin: 0 auto; }
  .mobileMenu__child {
    position: absolute;
    top: 0;
    left: 26px;
    left: -100%;
    right: unset;
    bottom: 0;
    background: #FCF2F0;
    z-index: 10;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .mobileMenu__child--open {
      left: 26px;
      right: 0; }
      .mobileMenu__child--open .mobileCatalog__opener {
        opacity: 1;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transition-delay: .4s;
             -o-transition-delay: .4s;
                transition-delay: .4s; }
    .mobileMenu__child li:not(.mobileMenu__root) a {
      padding-left: 25px; }
  .mobileMenu__root {
    position: relative;
    background: rgba(57, 181, 74, 0.1);
    margin-left: -26px;
    padding-left: 26px; }
    .mobileMenu__root::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 26px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .mobileMenu__root a {
      padding-left: 72px !important;
      border: 0; }
      .mobileMenu__root a i {
        left: 22px !important; }
  .mobileMenu__footer {
    background: #292929;
    padding: 16px 32px; }
    .mobileMenu__footer .header__contacts {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .mobileMenu__footer .header__contacts a {
        margin: 0 0 8px 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: #F3F6FA; }
    .mobileMenu__footer .header__socials {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .mobileMenu__footer .header__socials a:not(:last-child) {
        margin-right: 24px; }

.mobileCatalog__item {
  position: relative; }
  .mobileCatalog__item:not(:last-child) a {
    border-bottom: 0; }
  .mobileCatalog__item a {
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 400; }

.mobileCatalog__opener {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0; }
  .mobileCatalog__opener::before {
    content: '';
    top: 50%; }
  .mobileCatalog__opener::after {
    content: '';
    top: 50%; }

.mobileCatalog__child {
  max-height: 0;
  overflow: hidden;
  padding-left: 23px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .mobileCatalog__child--open {
    max-height: 300px;
    overflow: auto;
    direction: rtl; }
  .mobileCatalog__child li a {
    font-size: 16px;
    letter-spacing: 0.01em; }

.cart--noCommerce .headerDropdown__price {
  display: none; }

.cart__price {
  font-weight: 600; }

.wishlist--noCommerce .headerDropdown__price {
  display: none; }
