.modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .modal__close {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    right: 20px;
    z-index: 20;
    float: right; }
  .modal__win {
    width: 100%;
    max-width: 576px;
    background: #fff;
    border-radius: 32px;
    padding: 0 0 32px 0;
    text-align: center;
    position: relative;
    opacity: 0;
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px);
    max-height: 92%;
    overflow: auto;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    @media (max-width: 768px) {
      .modal__win {
        max-width: 92%;
        padding: 0 0 20px 0;
        border-radius: 8px; } }
  .modal__form {
    padding: 0 48px 0 48px; }
    @media (max-width: 768px) {
      .modal__form {
        padding: 20px 20px 0 20px; } }
  .modal__title {
    margin-bottom: 32px;
    padding: 32px 43px;
    border-bottom: 1px solid #EDEDED; }
    @media (max-width: 768px) {
      .modal__title {
        padding: 20px;
        font-size: 18px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 10; } }
    @media (max-width: 500px) {
      .modal__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px; } }
    .modal__title--left {
      text-align: left;
      margin-bottom: 16px; }
  .modal__subtitle {
    padding: 0 43px;
    text-align: left;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
    @media (max-width: 768px) {
      .modal__subtitle {
        padding: 0 20px; } }
  .modal__accept {
    margin: 16px -16px 0 -16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 768px) {
      .modal__accept {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 16px 0 0 0; } }
    .modal__accept span {
      margin-left: 16px;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
      @media (max-width: 500px) {
        .modal__accept span {
          font-size: 12px;
          line-height: 16px; } }
      .modal__accept span a {
        color: #FA4616; }
  .modalAuth__row {
    padding: 0 16px 16px 21px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 500px) {
      .modalAuth__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 0 16px 0; } }
  .modalAuth__register {
    margin: 8px 0;
    font-weight: 700; }
  .modalAuth__remember {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 500px) {
      .modalAuth__remember {
        margin-bottom: 8px; } }
    .modalAuth__remember span {
      margin-left: 16px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
  .modalCheck .modal__subtitle {
    margin-bottom: 0; }
    .modalCheck .modal__subtitle .btn--dashed {
      font-size: 16px; }
  .modalSuccessPass .modal__subtitle {
    margin-bottom: 0; }
  .modal--open {
    opacity: 1;
    pointer-events: auto; }
    .modal--open .modal__win {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      opacity: 1;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transition-delay: .4s;
           -o-transition-delay: .4s;
              transition-delay: .4s; }
